<table width="98%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="left"><p><strong>Confirm Your Email Address!</strong></p>      </td>
  </tr>
  <tr>
    <td align="left">&nbsp;</td>
  </tr>
  <tr>
    <td align="left"><strong>Dear {FIRST_NAME} {LAST_NAME},</strong></td>
  </tr>
  <tr>
    <td align="left">&nbsp;</td>
  </tr>
  <tr>
    <td align="left">To complete your {SITE_NAME} account, you must click the link below and enter your password on the following page to confirm your email address.</td>
  </tr>
  <tr>
    <td align="left">&nbsp;</td>
  </tr>
  <tr>
    <td align="left">Click here to activate your account<br /></td>
  </tr>
  <tr>
    <td align="left">&nbsp;</td>
  </tr>
  <tr>
    <td align="left"><span style="color: #FF0000;">{EMAIL_VERIFICATION_LINK}</span></td>
  </tr>
  <tr>
    <td align="left">&nbsp;</td>
  </tr>
  <tr>
    <td align="left"> Sincerely,</td>
  </tr>
  <tr>
    <td align="left"><strong>{SITE_NAME}</strong></td>
  </tr>
  <tr>
    <td align="left">&nbsp;</td>
  </tr>
  <tr>
    <td align="left">Please do not reply to this email. This mailbox is not monitored and you will not receive a response.</td>
  </tr>
</table>
