<table width="98%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td align="left"><p><strong>New Password !!</strong></p>      </td>
    </tr>
    <tr>
        <td align="left">&nbsp;</td>
    </tr>
    <tr>
        <td align="left"><strong>Dear ##UserName##,</strong></td>
    </tr>
    <tr>
        <td align="left">&nbsp;</td>
    </tr>
    <tr>
        <td align="left">Your password for Stock Charcha has been successfully reset upon your request.</td>
    </tr>
    <tr>
        <td align="left">&nbsp;</td>
    </tr>
    <tr>
        <td align="left"> Your Email Address: ##Email##</td>
    </tr>
    <tr>
        <td align="left">Your New Password: ##Password##</td>
    </tr>

    <tr>
        <td align="left">&nbsp;</td>
    </tr>
    <tr>
        <td align="left"> To change your password simply login to your member's area and go to your profile and click on the Change Pasword link in Your Account</td>
    </tr>
    <tr>
        <td align="left">&nbsp;</td>
    </tr>
    <tr>
        <td align="left">Thanks,</td>
    </tr>
    <tr>
        <td align="left"><strong>StockCharcha Team</strong></td>
    </tr>
    <tr>
        <td align="left">&nbsp;</td>
    </tr>
    <tr>
        <td align="left">Please do not reply to this email. This mailbox is not monitored and you will not receive a response.</td>
    </tr>
</table>
