/* stylesheet for demo and examples */

@import url(http://fonts.googleapis.com/css?family=Lobster+Two:700italic,700);
@import url(http://fonts.googleapis.com/css?family=Oswald:300);

.content {
    overflow: auto;
    position: relative;
    width: 340px;
    max-width: 100%;
    max-height: 334px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*overflow: scroll;
    overflow-y: scroll;
    overflow-x: hidden;*/
}

    .content::-webkit-scrollbar {
        width: 3px;
    }

    .content::-webkit-scrollbar-thumb {
        -webkit-border-radius: 10px;
        border-radius: 10px;
        background: #CECECE;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    }

    .content:hover::-webkit-scrollbar-thumb {
        width: 4px;
        background: #FF6000;
    }

    .content.hidden {
        display: none;
    }

    .content.light {
        background-color: #ddd;
        color: #333;
    }


    .content table {
        width: 100%;
        border-collapse: collapse;
    }

        .content table tr {
        }

        .content table td {
            /*padding: 3px;*/
        }

.sortable {
}


@media only screen and (min-width: 1229px) {
    .showcase .horizontal-images.content {
        width: 1060px;
    }
}

@media only screen and (min-width: 1629px) {
    .showcase .horizontal-images.content {
        width: 700px;
    }
}

.contentshareidea {
    overflow: auto;
    position: relative;
    width: 100%;
    max-width: 100%;
    height: 1500px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*overflow: scroll;
    overflow-y: scroll;
    overflow-x: hidden;*/
}

    .contentshareidea::-webkit-scrollbar {
        width: 3px;
    }

    .contentshareidea::-webkit-scrollbar-thumb {
        -webkit-border-radius: 10px;
        border-radius: 10px;
        background: #CECECE;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    }

    .contentshareidea:hover::-webkit-scrollbar-thumb {
        width: 4px;
        background: #FF6000;
    }

    .contentshareidea.hidden {
        display: none;
    }

    .contentshareidea.light {
        background-color: #ddd;
        color: #333;
    }


    .contentshareidea table {
        width: 100%;
        border-collapse: collapse;
    }

        .contentshareidea table tr {
        }

        .contentshareidea table td {
            /*padding: 3px;*/
        }

.sortable {
}
