﻿@charset "utf-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
    max-width: 100%;
}
/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
    width: 100%;
}

/*
	Dreamweaver Fluid Grid Properties
	----------------------------------
	dw-num-cols-mobile:		5;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	10;
	dw-gutter-percentage:	25;
	
	Inspiration from "Responsive Web Design" by Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	and Golden Grid System by Joni Korpi
	http://goldengridsystem.com/
*/

/* Mobile Layout: 480px and below. */

@media (min-width: 360px) and (max-width: 768px) {
    .menu {
        width: 54% !important;
    }

    .topline {
        height: 80px !important;
    }

    .mobpd15 {
        padding: 0 15px !important;
    }

    .topstoriesWrp {
        margin-top: 20px;
    }

    .commTxt {
        width: 88%;
    }

        .commTxt textarea {
            width: 95%;
        }

    .commTxtBtn {
        width: 12%;
    }
}

@media only screen and (max-width: 480px) {
    .menu {
        width: 52% !important;
    }

        .menu li {
            margin: 0 !important;
        }

            .menu li:first-child {
                padding-left: 0 !important;
            }

    .topline {
        height: 80px !important;
    }

    .blue-bar {
        height: 122px !important;
    }

    .mobpd15 {
        padding: 0 15px !important;
    }

    .topstoriesWrp {
        margin-top: 20px;
    }

    .hdrbox {
        /*margin-top: 12px !important;*/
    }

    .headerLogo {
        margin-left: 15px;
    }

    .divSignin {
        margin: 0 auto;
        margin-top: 15px;
    }

        .divSignin .usrdtl {
            min-width: 110px;
            width: auto;
        }

        .divSignin .mobsign {
            right: 0;
            float: right;
        }

    .whoseethis {
        /*margin: 15px 10px 15px 0px;*/
        margin: 2px 10px 5px 0px;
    }

    .inputLabel textarea, .inputLabel input[type="text"] {
        width: 90% !important;
    }

    .postTime {
        top: 0px;
        position: relative;
    }

    .follower {
        text-align: left !important;
        margin-top: 10px;
    }

    .topbar-search {
        width: 100% !important;
    }

    .divSignin .btns {
        /* width: 46%; */
        text-align: center;
        float: left;
    }

    .menu li:first-child {
        width: 100%;
        display: block;
        text-align: center;
        margin-bottom: 15px;
    }

        .menu li:first-child i {
            display: none;
        }

    .menu li {
        /*width: 30%;*/
        margin-bottom: 15px;
    }

    .col-sm-7 {
        /*margin: 22px 0;*/
        float: left;
    }

    .banner {
        padding: 20px 0 !important;
    }

        .banner h3 {
            font-size: 22px;
        }

        .banner img {
            width: 98%;
        }

    .fluid-container h3 {
        line-height: 25px !important;
    }

    .widget-container {
        margin-bottom: 22px !important;
    }

    .footer {
        margin: 0 !important;
    }

    .col-sm-8 {
        float: left !important;
    }

    .footer .copyright {
        margin-bottom: 20px;
    }

    .footer .ftmenu {
        margin: 0 auto !important;
        float: none !important;
        width: 100%;
        padding: 0 !important;
    }

        .footer .ftmenu li {
            margin-bottom: 20px;
        }

    .btnwatchlist {
        float: left !important;
        margin: 15px 0 10px 20px;
    }

    .follower {
        margin: 0;
        padding: 0 !important;
        text-align: center;
    }

    .mobpdnn {
        padding: 0 !important;
    }

    .mobpdrtnn {
        padding-right: 0 !important;
    }

    .mobstrgBy {
        width: 100%;
        float: left;
        margin-top: 25px;
    }

    .progressWrap {
        float: left !important;
    }

    .namettl {
        width: 75% !important;
        margin-bottom: 5px;
    }

    .postTime {
        width: 25% !important;
    }

    .tabrowftr ul li {
        margin-bottom: 10px;
    }

    .tabrowftr .label {
        margin-bottom: 10px;
        float: left;
    }

    .divSignin:hover ul {
        left: 0 !important;
    }

    /*.divSignin .profilebg {
        left: 0 !important;
    }*/

    .followbtn {
        position: absolute;
        right: 0;
        top: -68px;
        z-index: 100;
    }

    .divSignin {
        margin-bottom: 10px;
    }

    .bannerSlider, .bannerSlider .scrolImg {
        height: auto;
    }


    .mobShareIdeaList .photowrp {
        float: left;
        width: 25%;
    }

    .mobShareIdeaList .descrip {
        width: 75%;
        float: left;
        padding: 15px 0px 0px !important;
        word-break: break-all;
    }

    .chartWidth > div {
        margin: 0 auto !important;
    }
}
/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {
    .menu {
        width: 54% !important;
    }

    .gridContainer {
        width: 90.675%;
        padding-left: 1.1625%;
        padding-right: 1.1625%;
    }

    #LayoutDiv1 {
        clear: both;
        float: left;
        margin-left: 0;
        width: 100%;
        display: block;
    }
}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media (min-width: 768px) and (max-width: 800px) {
    .topstoriesWrp {
        margin-top: 20px;
    }

    .mobpd15 {
        padding: 0 15px !important;
    }

    .topline {
        height: 80px !important;
    }

    .tabwidth {
        width: 100% !important;
    }

    .progressChart {
        width: 90px !important;
    }

    #watchListFilter {
        width: 48%;
        float: left;
    }

    #recentlyViewed {
        width: 48%;
        float: right;
    }
}

@media only screen and (min-width: 769px) {
    .gridContainer, .bigscreen {
        width: 88.2%;
        max-width: 1232px;
        padding-left: 0.9%;
        padding-right: 0.9%;
        margin: auto;
    }

    #LayoutDiv1 {
        clear: both;
        float: left;
        margin-left: 0;
        width: 100%;
        display: block;
    }
}

@media only screen and (min-width: 768px) {
    .search {
        width: 52%;
    }
}

@media only screen and (min-width: 1200px) {
    .menu {
        width: 71% !important;
    }
}

@media only screen and (min-width: 1300px) {
    .gridContainer, .bigscreen {
        width: 88.2%;
        max-width: 1317px;
        padding-left: 0.9%;
        padding-right: 0.9%;
        margin: auto;
    }
}

.gridContainer, .bigscreen {
    margin-left: auto;
    margin-right: auto;
    /*width:90.675%;*/
    width: 97.675%;
    padding-left: 0.52%;
    padding-right: 0.52%;
}

#LayoutDiv1 {
    clear: both;
    float: left;
    margin-left: 0;
    width: 100%;
    display: block;
}

.topbar-search {
    width: 90%;
    margin-top: 15px;
    float: right;
    color: #eee;
    position: relative;
}

    .topbar-search input {
        border: 1px solid #d6d6d6;
        width: 100%;
        height: 31px;
        padding: 7px 138px 7px 10px;
        border-radius: 20px;
        color: #333;
        outline: none;
    }

::-webkit-input-placeholder { /* Safari, Chrome and Opera */
    color: #C2C2C2;
}

:-moz-placeholder { /* Firefox 18- */
    color: #C2C2C2;
}

::-moz-placeholder { /* Firefox 19+ */
    color: #C2C2C2;
}

:-ms-input-placeholder { /* IE 10+ */
    color: #C2C2C2;
}

::-ms-input-placeholder { /* Edge */
    color: #C2C2C2;
}

:placeholder-shown { /* Standard one last! */
    color: #C2C2C2;
}

.bdrnn {
    border: 0 !important;
}

.mrgnlftnn {
    margin-left: 0;
}

.mrgntpbtm {
    margin: 15px 0;
}

.mrgnbtm5 {
    margin-bottom: 5px;
}

.mrgnrt15 {
    margin-right: 15px;
}

.mrgnrt8 {
    margin-right: 8px;
}

.mrgnbtm10 {
    margin-bottom: 10px;
}

.paddnn {
    padding: 0 !important;
}

.padlftnn {
    padding-left: 0 !important;
}

.padbtn10 {
    padding-bottom: 10px !important;
}

.padrtnn {
    padding-right: 0 !important;
}

.fltlft {
    float: left !important;
}

.fltrt {
    float: right !important;
}

.font14 {
    font-size: 14px !important;
}

.font15 {
    font-size: 15px !important;
}

.fong20 {
    font-size: 20px !important;
}

.fong25 {
    font-size: 25px !important;
}

.rotate {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}


.topbar-search i {
    display: block;
    position: absolute;
    top: 6px;
    right: 13px;
    width: 16px;
    height: 16px;
    font-size: 16px;
    color: #D7D7D7;
}

.divSignin {
    margin-top: 15px;
    float: right;
    position: relative;
}

    .divSignin .btns {
        padding: 6px 15px;
        color: #FFF !important;
        cursor: pointer;
        font: bold 14px Arial, Helvetica, sans-serif;
        border-radius: 20px;
        text-transform: uppercase;
        float: left;
        outline: none;
    }

#btnJoin {
    border: 0;
    border-bottom: 2px solid #B9915E !important;
}

#btnSignIn {
    border: 0;
    border-bottom: 2px solid #023D60 !important;
}

.joinbtn {
    background: #FBB256;
    border-bottom: 0px solid #B9915E;
    margin-right: 15px;
}

    .joinbtn:hover {
        color: #0471AE !important;
    }

.divSignin img {
    float: left;
    margin-right: 7px;
    border-radius: 4px;
    border: 1px solid #949B9E;
}

.divSignin .usrdtl {
    cursor: pointer;
    font-size: 11px;
    color: #333;
    padding: 0 25px 10px 0;
    background: url('/Content/web/images/downarrow.png') no-repeat right 15px;
    float: left;
}

    .divSignin .usrdtl h5 {
        font-size: 13px;
        font-weight: 600;
        margin: 0;
        line-height: 20px;
    }

.divSignin ul {
    display: none;
}


.divSignin:hover ul {
    padding: 0;
    margin: -10px 0 0 0;
    list-style: none;
    border: 1px solid #F2F2F2;
    background: #FFFFFF;
    width: 200px;
    box-shadow: 0 1px 3px #9AA0A5;
    display: block;
    position: absolute;
    top: 53px;
    right: -4px;
    z-index: 111;
    border-radius: 0;
}

.divSignin ul li a {
    border-bottom: 1px solid #DFE0E1;
    padding: 7px 15px;
    font-size: 12px;
    text-transform: uppercase;
    color: #333;
    display: block;
}

.divSignin ul li:hover {
    background-color: #eee;
}

.divSignin ul li:last-child {
    border-bottom: 0;
}

.divSignin ul li i {
    padding-right: 10px;
    color: #0071B2;
}

.divSignin ul li a {
    color: #333;
}

.divSignin .profilebg {
    display: none;
}

.divSignin:hover .profilebg {
    background: url(/Content/web/images/profilebg.png) no-repeat right 0px;
    position: absolute;
    top: 2px;
    right: -7px;
    display: block;
    width: 38px;
    height: 42px;
    z-index: 120;
}


.signbtn {
    background: #0470AE;
    border-bottom: 0 solid #023D60;
}

    .signbtn:hover {
        color: #FD9B16 !important;
    }

.headerStrip {
    background: #FFF;
    width: 100%;
}

.menuStrip {
    background: #E2E2E2;
    width: 100%;
    margin-top: 14px;
}

.menu {
    width: 71%;
    list-style: none;
    margin: 10px 0;
    padding: 0;
    font-size: 13px;
    float: left;
    text-transform: uppercase;
}

    .menu li {
        float: left;
        margin-left: 0;
        color: #0071B2;
        font-weight: bold;
    }

        .menu li:first-child {
            margin-left: 0;
            padding-left: 0;
            color: #FC9D0E;
        }

        .menu li a {
            color: #0071B2;
            padding: 0 7px;
        }

            .menu li a:hover {
                color: #FC9D0E;
            }

.banner {
    padding: 40px 0;
}

    .banner h3 {
        font: bold 30px/38px "Champagne & Limousines", Arial;
        color: #146B98;
        text-align: justify;
    }

.ttl {
    font-size: 22px;
    text-transform: uppercase;
}

.wrpa {
    margin: 25px 0;
    float: left;
    width: 100%;
}

.fluid-container {
    width: 98%;
    margin-bottom: 25px;
    padding-right: 2%;
    float: left;
    font-size: 15px;
}

    .fluid-container h3 {
        font: bold 16px/43px Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        margin: 0 0 7px 0;
        display: block;
    }

        .fluid-container h3 span {
            margin-right: 10px;
            width: 52px;
            float: left;
        }

    .fluid-container p {
        text-align: justify;
        line-height: 26px;
        clear: both;
        color: #535353;
    }

.widget-container {
    width: 90%;
    float: left;
    padding-right: 2%;
}

    .widget-container .colttl {
        background: url(/Content/web/images/icon-coment.jpg) no-repeat 0 0;
        padding-left: 45px;
        display: block;
        margin-bottom: 15px;
        color: #F17B00;
        font-size: 13px;
    }

        .widget-container .colttl h3 {
            font: bold 22px Arial, Helvetica, sans-serif;
            margin: 0;
        }

        .widget-container .colttl p {
            border-bottom: 1px dotted #CCC;
            padding-bottom: 7px;
        }

    .widget-container p {
        text-align: justify;
        font: normal 15px/21px Arial, Helvetica, sans-serif;
        color: #757575;
    }

.footer {
    width: 100%;
    margin-top: 20px;
}

    .footer .copyright {
        font-size: 12px;
    }

    .footer .ftmenu {
        list-style: none;
        margin: 0;
        float: right;
    }

        .footer .ftmenu li {
            color: #333;
            margin-right: 25px;
            text-transform: uppercase;
            float: left;
        }

            .footer .ftmenu li a {
                color: #333;
            }

            .footer .ftmenu li i {
                font-size: 20px;
            }

.inrbg {
    background: #F3F4F8 url(/Content/web/images/tpbg.jpg) repeat-x 0 -200px;
}

.contWrap {
    width: 100%;
    margin: 0 auto;
}

.watchList {
    background: #FFF;
    padding: 0px 15px 8px 0px;
    margin-bottom: 15px;
    display: block;
    /*border: 1px solid #E5E5E5;*/
    /*overflow: hidden;*/
    height: 108px;
    box-shadow: 1px 1px 0px #ccc;
}

.borderLeftRed {
    border-left: 12px solid #C70C01;
}

.borderLeftGreen {
    border-left: 12px solid #86D73C;
}

.watchlistWrp {
    /*border-top: 8px solid #86D73C;*/
    padding-top: 8px;
}

.ttl {
    font: bold 16px Arial, Helvetica, sans-serif;
}

.btn {
    background: #69962C;
    font: bold 13px Verdana, Geneva, sans-serif;
    color: #FFF;
    padding: 3px 7px;
    border-radius: 4px;
    border-bottom: 2px solid #5F8727;
    cursor: pointer;
}

.block {
    padding: 10px;
    background: #FFF;
    display: block;
    box-shadow: 1px 1px 0px #ccc;
    margin-bottom: 15px;
    /*overflow: hidden;*/
    border-radius: 6px;
}

    .block .idea {
        background:;
        padding: 8px 15px 8px 52px;
        background: url(/Content/web/images/pen.png) no-repeat 32px 8px;
        color: #000;
        font-weight: bold;
        border-bottom: 1px solid #ECF0F1;
    }

.shinebg {
    background: #DADADA; /*#F3F4F8;*/
    padding: 15px;
    padding-bottom: 6px;
    width: 97%;
    margin: 0 auto;
    margin-top: 15px;
    overflow: hidden;
}

    .shinebg span, .shinebg span a {
        color: #0071A9;
        font-weight: bold;
    }

    .shinebg .cntwrp {
        margin-bottom: 10px;
        padding-bottom: 12px;
        border-bottom: 1px solid #ECF0F1;
        display: block;
    }

.trendInsight {
    padding: 3px 10px 3px 15px;
    float: right;
    border: 1px solid #ACACAC;
    background: #FFF;
    margin-right: 10px;
}

    .trendInsight span {
        padding-right: 25px;
        color: #333;
        background: #FFF url(/Content/web/images/downarrow.png) no-repeat right 5px;
    }

.pin {
    float: right;
    cursor: pointer;
    position: relative;
    margin-left: 15px;
}

    .pin i {
        float: left;
    }

    .pin input[type="file"] {
        opacity: 0;
        position: absolute;
        width: 23px;
        height: 25px;
        z-index: 1000;
        left: 0;
        top: 0;
    }

.commentBtn {
    position: relative;
    z-index: 2000;
}

::-webkit-file-upload-button {
    cursor: pointer;
}

#editorImage {
    float: right;
    margin-left: 15px;
}

#commentImage {
    float: right;
    margin-left: 15px;
}
/*-----------*/
.upImage {
    position: relative;
    float: right;
}

    .upImage:hover .imageDelete {
        opacity: 0.5;
        display: block;
    }

.imageDelete {
    display: none;
    position: absolute;
    top: 0px;
    left: 15px;
    width: 60px;
    height: 60px;
    background: #FFF;
    opacity: 1;
    padding: 21px 0 0 25px;
}

    .imageDelete i {
        font-size: 22px;
        font-weight: bold;
    }
/*-----------*/
#drpTrend {
    width: auto !important;
    float: right;
}

.whoseethisWrp {
    margin: 5px 0;
    overflow: hidden;
    padding: 0 15px;
}

    .whoseethisWrp .col {
        float: left;
        margin-right: 15px;
    }

    .whoseethisWrp .firstdiv {
        line-height: 29px;
    }

.whoseethis {
    /*padding-left: 31px;*/
    line-height: 23px;
    color: #333;
    font-size: 14px;
    float: left;
    /*cursor: pointer;*/
}

.iconCheck {
    background: url(/Content/web/images/icon-check.jpg) no-repeat 0 0px;
}

.iconUncheck {
    background: url(/Content/web/images/icon-uncheck.jpg) no-repeat 0 0px;
}

.social {
    padding-left: 5px;
    float: left;
    color: #CCCCCC !important;
}

    .social i {
        margin-left: 15px;
        font-size: 17px;
    }

.postreply {
    border-top: 1px solid #ECF0F1;
    padding-top: 6px;
    padding-bottom: 0px;
    margin-bottom: 8px !important;
}

.postreplylineht {
    line-height: 30px;
}

.rw {
    width: 100%;
    margin-bottom: 15px;
    float: left;
}

.btn_blue {
    background: #015C7C;
    font: bold 13px Verdana, Geneva, sans-serif;
    color: #FFF;
    padding: 5px 10px;
    border-radius: 4px;
    border: 0;
    border-bottom: 2px solid #015069;
    cursor: pointer;
}

    .btn_blue:hover, .btn_blue:active {
        color: #FFF;
    }

.lowprice {
    color: #C70C01;
    background: url(/Content/web/images/dwn-arrow.png) no-repeat 5px 4px;
    padding-left: 25px;
    /*font-size: 13px;*/
}

.upprice {
    color: #86D73C;
    background: url(/Content/web/images/up-arrow.png) no-repeat 5px 4px;
    padding-left: 25px;
}

.clock {
    background: url(/Content/web/images/clock.png) no-repeat 2px 2px;
    padding-left: 20px;
    margin-left: 7px;
    height: 19px;
    width: 19px;
}

.lineheight20 {
    line-height: 20px;
}

.lastupdated {
    float: left;
    margin-right: 10px;
    line-height: 20px;
}

.zoomControls {
    display: none !important;
}

.shareTtl {
    color: #8F8F8F;
    font-weight: bold;
}

.lightxt {
    color: #909090;
    font-size: 11px !important;
}

.smlTxt {
    font-size: 11px;
}

.font16 {
    font-size: 12px;
}

.btnwatchlist {
    height: 38px;
    background: #86D73C;
    text-align: center;
    padding: 0 14px;
    color: #FFF !important;
    border-radius: 25px;
    border-bottom: 2px solid #6BAD31;
    float: left;
    line-height: 38px;
    text-transform: uppercase;
    margin: 15px 0px 2px 0px;
}

.follower {
    display: block;
    text-align: center;
    width: 100%;
    clear: both;
    padding: 0px;
}

.btngray {
    background: #ACACAC;
    font-weight: normal;
    padding: 5px 20px;
    color: #FFF;
    margin: 0 5px;
    border-bottom: 2px solid #8A8A8A;
    text-transform: uppercase;
    float: left;
}

.btnorange {
    background: #FF9C37;
    padding: 5px 20px;
    font-weight: normal;
    color: #FFF;
    margin: 0 5px;
    border-bottom: 2px solid #EE8748;
    text-transform: uppercase;
    float: left;
}

.btnblue {
    font: bold 13px Verdana, Geneva, sans-serif;
    color: #FFF;
    padding: 5px 10px;
    background: #015C7C;
    border-radius: 4px;
    border: 0;
    border-bottom: 2px solid #015069;
    cursor: pointer;
}

.hdrTab {
    border-bottom: 1px solid #ECF0F1;
    padding: 10px 0px 10px 0px;
    overflow: hidden;
    width: 100%;
}

    .hdrTab .tab {
        margin: 0;
        padding: 0;
        list-style: none;
        text-transform: uppercase;
    }

        .hdrTab .tab li {
            float: left;
        }

            .hdrTab .tab li a {
                margin-right: 15px;
                font: normal 13px Verdana, Geneva, sans-serif;
                color: #9AA6B6;
                padding: 7px 10px;
                border-radius: 4px;
                border: 0;
            }

                .hdrTab .tab li a:hover, .hdrTab .tab li a.active {
                    background: #0071A9;
                    color: #FFF;
                    text-decoration: none;
                }

            .hdrTab .tab li button {
                margin-right: 15px;
                font: normal 13px Verdana, Geneva, sans-serif;
                color: #9AA6B6;
                padding: 7px 10px;
                border-radius: 4px;
                border: 0;
                background: none;
                outline: none;
            }

                .hdrTab .tab li button:hover, .hdrTab .tab li button.active, .hdrTab .tab li button:focus {
                    background: #0071A9;
                    color: #FFF;
                    text-decoration: none;
                    border: 0;
                    outline: none;
                }

.popout {
    text-align: right;
    height: 30px;
}

    .popout a {
        padding: 0 10px;
        color: #333;
        font-size: 14px;
    }

        .popout a:hover {
            color: #0071A9;
        }

.tabwrp {
    padding: 5px 20px;
    border-bottom: 1px solid #ECF0F1;
    overflow: hidden;
    width: 100%;
    position: relative;
}

    .tabwrp .photowrp img {
        width: 68px;
        border-radius: 6px;
        border: 1px solid #949B9E;
    }

.namettl {
    float: left;
    width: 80%;
    font-weight: bold;
    margin-bottom: 5px;
}

.postTime {
    float: right;
    width: 18%;
    color: #0071A9;
    text-align: right;
    font-weight: bold;
    font-size: 11px;
}

.tabrow {
    margin: 0;
    width: 100%;
    clear: both;
}

    .tabrow p {
        margin-bottom: 10px;
        text-align: justify;
    }

        .tabrow p span {
            color: #0071A9;
            font-weight: bold;
        }

.tabrowftr {
    margin: 0;
    width: 100%;
    overflow: hidden;
}

    .tabrowftr ul {
        margin: 0;
        padding: 0 0 0 16px;
        list-style: none;
        float: right;
    }

        .tabrowftr ul li {
            float: left;
            margin-right: 10px;
            color: #6C6C6C !important;
        }

            .tabrowftr ul li:last-child {
                margin: 0;
            }

            .tabrowftr ul li i {
                color: #6C6C6C;
                font-size: 14px;
            }

        .tabrowftr ul a {
            color: #6C6C6C;
        }

        .tabrowftr ul li:hover a {
            color: #333;
        }

        .tabrowftr ul li .reshare {
            background: url(/Content/web/images/icon-reshare.jpg) no-repeat 0 0;
            padding-left: 16px;
        }

        .tabrowftr ul li .more {
            background: url(/Content/web/images/icon-more.jpg) no-repeat 0 0px;
            width: 30px;
            height: 30px;
            float: left;
        }

.chartHdr {
    padding: 10px 0;
    border-bottom: 1px solid #D7D7D7;
    margin-bottom: 5px;
    float: left;
    height: 47px;
}

.timeline {
    margin: 0 auto;
    margin-top: 7px;
    margin-bottom: 7px;
    padding: 0;
    list-style: none;
    /*float: left;*/
    display: table;
    text-align: center;
}

    .timeline li {
        margin-right: 3px;
        float: left;
        margin-top: -6px;
    }

        .timeline li:last-child, .timeline li:first-child {
            margin: 0;
            margin-top: -6px;
        }

        .timeline li a {
            background: none;
            padding: 3px 6px;
            color: #333;
            border-radius: 3px;
            cursor: pointer;
        }

            .timeline li a:hover, .timeline li a.active {
                background: #FF9B39;
                border-bottom: 2px solid #CB7C2D;
                color: #FFF;
                cursor: pointer;
            }

.msgvol {
    color: #9BA5B1;
    font: normal 13px Verdana, Geneva, sans-serif;
    padding: 5px 10px;
    border-radius: 4px;
    border: 0;
    border-bottom: 2px solid #fff;
    cursor: pointer;
}


.sortby {
    color: #FF9B39;
    text-transform: uppercase;
    font-size: 12px;
    margin-top: -3px !important;
}

.downtxt {
    color: #C62829;
    font-weight: bold;
}

.uptxt {
    color: #84D83C;
    font-weight: bold;
}

.recentView {
    /*margin-bottom: 10px;*/
    padding-bottom: 12px;
    border-bottom: 1px solid #ECF0F1;
    display: block;
}

.recentViewList {
    margin: 0;
    padding: 10px;
    list-style: none;
    font-size: 10px;
}

    .recentViewList li {
        margin: 0 6px 6px 0;
        float: left;
        text-align: center;
    }

        .recentViewList li a {
            margin: 0;
            padding: 7px 5px;
            text-align: center;
            background: #EBEDF3;
            color: #333;
            min-width: 51px;
            float: left;
            border-radius: 4px;
            font-size: 13px;
        }

            .recentViewList li a:hover {
                color: #333;
                background-color: #ffc483;
                border-radius: 4px;
            }

.watchlist {
    width: 100%;
    position: relative;
    font-size: 11px;
}

.positionRel {
    position: relative;
}

.serchwatchlist {
    position: absolute;
    left: -1px;
    top: 3px;
    z-index: 100;
    width: 89%;
}

    .serchwatchlist a {
        display: block;
        position: absolute;
        top: 5px;
        right: 12px;
        width: 16px;
        height: 16px;
        font-size: 16px;
        color: #838383;
    }

    .serchwatchlist input[type="text"] {
        border-radius: 20px;
        border: 1px solid #d6d6d6;
        background: #E8E8E8;
        padding: 7px 55px 7px 15px;
        height: 31px;
        width: 100%;
        color: #333;
    }

.watchpopup {
    width: 340px;
    border: 1px solid #D9D9D9;
    background: #FFF;
    box-shadow: 0 0 2px 2px #DFDFDF;
    overflow-x: scroll;
}

.overflwparent {
    min-height: 100px;
    overflow: hidden;
    max-height: 380px;
}

.overflwchild {
    height: 100%;
    overflow: auto;
}

.crvphoto {
    border: 2px solid #949B9E;
    border-radius: 4px;
}

.tblseprate table {
    border-spacing: 2px !important;
    border-collapse: separate;
    font-size: 12px;
    font-weight: bold;
}

    .tblseprate table td {
        vertical-align: inherit;
    }

.tblseprate i {
    font-size: 21px;
    font-weight: normal;
}

.tblseprate a {
    color: #333;
}

    .tblseprate a:hover {
        color: #026FA8;
    }

        .tblseprate a:hover i {
            color: #333;
        }

.textformat p {
    /*text-align: justify;*/
    text-align: left;
    line-height: 18px;
    padding: 0 10px;
}

.blockftrlink {
    color: #026FA8;
    font-size: 13px;
    font-weight: bold;
    border-top: 1px solid #EFEFEF;
    padding-top: 10px;
}

    .blockftrlink table td {
        vertical-align: inherit;
    }

    .blockftrlink i {
        font-size: 16px;
        font-weight: normal;
        color: #026FA8;
        margin-right: 5px;
    }

    .blockftrlink span {
        float: left;
    }

    .blockftrlink .bodrrt {
        border-right: 1px solid #EFEFEF;
    }

    .blockftrlink a {
        color: #026FA8;
    }

/*CheckBox & radio custom css*/
.checkbox-custom, .radio-custom {
    opacity: 0;
    position: absolute;
}

.checkbox-custom, .checkbox-custom-label, .radio-custom, .radio-custom-label {
    display: inline-block;
    vertical-align: middle;
    /*margin: 5px;*/
    cursor: pointer;
}

.checkbox-custom-label, .radio-custom-label {
    position: relative;
}

.checkbox-custom + .checkbox-custom-label:before, .radio-custom + .radio-custom-label:before {
    content: '';
    background: #fff;
    border: 2px solid #B9B9B9;
    display: inline-block;
    vertical-align: middle;
    width: 23px;
    height: 23px;
    padding: 0px 0px 0px 0px;
    margin-right: 10px;
    text-align: center;
    outline: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.checkbox-custom:checked + .checkbox-custom-label:before {
    content: "\f00c";
    font-family: 'FontAwesome';
    background: #02AFFE;
    color: #fff;
    border: none;
}

.radio-custom + .radio-custom-label:before {
    border-radius: 50%;
}

.radio-custom:checked + .radio-custom-label:before {
    content: "\f00c";
    font-family: 'FontAwesome';
    border-color: #49B53E;
    color: #49B53E;
}

/*End*/
.alert {
    padding: 8px 35px 8px 14px;
    margin-bottom: 18px;
    color: #c09853;
    /*text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);*/
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.alert-heading {
    color: inherit;
}

.alert .close {
    position: relative;
    top: -2px;
    right: -21px;
    line-height: 18px;
}

.alert-success {
    color: #F3F4F8; /*#468847;*/
    background-color: #64AF46; /*#dff0d8;*/
    border-color: #64AF46; /*#d6e9c6;*/
}

.alert-danger,
.alert-error {
    color: #F3F4F8; /*#b94a48;*/
    background-color: #EF7A7A; /*#f2dede;*/
    border-color: #EF7A7A; /*#eed3d7;*/
}

.alert-info {
    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.alert-block {
    padding-top: 14px;
    padding-bottom: 14px;
}

    .alert-block > p,
    .alert-block > ul {
        margin-bottom: 0;
    }

    .alert-block p + p {
        margin-top: 5px;
    }

.chartImg {
    width: 140px !important;
    height: 140px !important;
    position: absolute;
    top: -34px;
    left: -15px;
    font-weight: bold;
    font-size: 12px;
}

    .chartImg rect {
        fill: transparent !important;
    }

.chartLable {
    font-weight: bold;
    position: absolute;
    top: 27px;
    left: 110px;
}



.fnt12 {
    font-size: 12px;
}

.textrt {
    text-align: right;
}

.bdrbtm {
    border-bottom: 1px solid #ECF0F1 !important;
    padding-bottom: 7px;
    margin-bottom: 7px;
}

.margnn {
    margin: 0 !important;
}

.up-prise {
    color: #86D73C;
    background: url(/Content/web/images/up-arrow.png) no-repeat right 4px;
    width: 25px;
    height: 20px;
    float: right;
}

.low-prise {
    color: #86D73C;
    background: url(/Content/web/images/dwn-arrow.png) no-repeat right 4px;
    width: 25px;
    height: 20px;
    float: right;
}

.mrgnlft40 {
    margin: 3px 0 3px 40px !important;
}

.mrgtp10 {
    margin-top: 10px;
}

.cursorPtr {
    cursor: pointer;
}

* {
    /*word-break: break-all;*/
}

#createBlock textarea {
    width: 100%;
    border: 1px solid #DDD;
    margin-bottom: 3px;
}

.label-StrongBuy {
    background-color: #299b7f;
    padding: 4px;
    border-radius: 2px;
    color: #FFFFFF;
}

.label-Buy {
    background-color: #6dc7b1;
    padding: 2px 4px;
    border-radius: 2px;
    color: #FFFFFF;
}

.label-Hold {
    background-color: #f1c951;
    padding: 2px 4px;
    border-radius: 2px;
    color: #FFFFFF;
}

.label-Sell {
    background-color: #f68a4b;
    padding: 2px 4px;
    border-radius: 2px;
    color: #FFFFFF;
    margin-right: 4px;
}

.label-StrongSell {
    background-color: #f15c69;
    padding: 2px 4px;
    border-radius: 2px;
    color: #FFFFFF;
}

.stripShareIdea {
    width: 5px;
    height: 55px;
    position: absolute;
    left: 0;
    top: 6px;
}

.holdstrip {
    background: #F1C950;
}

.storngBuyStrip {
    background: #299C7F;
}

.storngSellStrip {
    background: #f15c69;
}

.sellStrip {
    background: #f68a4b;
}

.buyStrip {
    background: #6dc7b1;
}


.profphoto {
    margin: 20px 0;
    border-radius: 7px;
    border: 2px solid #949B9E;
    float: left;
    outline: none;
    margin-left: 20px;
}

    .profphoto img {
        border-radius: 4px;
    }

input[type="file"] {
    outline: none;
}

.usrprof h3 {
    color: #0371AC;
}

.usrprof label {
    cursor: default;
    font-weight: 400;
}

.inputLabel {
    display: block;
}

    .inputLabel input[type="text"] {
        display: block;
        width: 450px;
        border: 1px solid #BDC2CA;
        height: 30px;
        line-height: 30px;
        border-radius: 3px;
        padding: 0px 4px;
    }

    .inputLabel textarea {
        width: 450px;
        height: 80px;
        border: 1px solid #BDC2CA;
        border-radius: 3px;
        padding: 2px 4px;
    }

    .inputLabel .btn-default {
        border: 0 !important;
        cursor: pointer;
        border-color: itial !important;
    }

.activepage {
    width: 360px;
    margin: 0 auto;
    border-radius: 4px;
    /*margin-top: 8%;*/
    margin-top: 4%;
    margin-bottom: 4%;
    padding: 20px 20px 35px 20px;
    box-shadow: 0 0 4px #CCC;
    background-color: #FFF;
}

    .activepage h3 {
        color: #0171B0;
        font-size: 24px;
        margin-top: 0;
        text-align: center;
    }

    .activepage .logo {
        margin: 10px 0 8px 0;
    }

    .activepage .loginrw {
        padding: 7px 20px;
    }

        .activepage .loginrw input[type="text"] {
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 4px;
            color: #555;
            display: block;
            font-size: 14px;
            height: 34px;
            line-height: 32px;
            padding: 6px 12px;
            width: 100%;
        }

        .activepage .loginrw input[type="button"] {
            font-size: 14px;
            height: 34px;
            line-height: 34px;
            padding: 0px 12px;
            text-align: center;
            background: #337ab7;
            border: 0;
            margin-top: 20px;
        }

        .activepage .loginrw input[type="submit"]:hover, .activepage .loginrw input[type="submit"]:focus {
            background: #fb9d17;
        }

.pagebg {
    background: #F3F4F8;
}

.likeactive, .likeactive i {
    color: #0071A9 !important;
}

.mrgbtm15 {
    margin-bottom: 15px;
}

.mrgnn {
    margin: 0 !important;
}

.follow {
    padding: 17px 0 !important;
    float: left;
    position: relative;
    width: 100%;
}

    .follow img {
        border: 1px solid #949B9E !important;
        width: 70px;
        border-radius: 4px !important;
    }

    .follow h4 {
        margin: 0 0 5px 0;
        float: left;
        line-height: 29px;
    }

    .follow .tabrow p {
        margin-bottom: 5px;
    }

    .follow .btn {
        background-color: #5bc0de !important;
        color: #FFFFFF;
        border: none;
    }

.block2 {
    padding: 21px;
    background: #FFF;
    display: block;
    box-shadow: 1px 1px 0px #ccc;
    margin-bottom: 15px;
    overflow: hidden;
}

/*Header Box*/
.hdrbox {
    /* float: left; */
    /* background: #E4EFF8; */
    /* padding: 5px 10px; */
    width: 390px;
    border-radius: 3px;
    color: #FB9D17;
    /* box-shadow: 0 1px 5px #809db4 inset; */
    margin: 0 auto;
}

    .hdrbox .hdrw {
        width: 50%;
        /*padding: 10px 0;*/
        font-weight: bold;
        font-size: 12px;
        float: left;
        margin-right: 10px;
    }

.widthauto {
    width: auto !important;
}

.greentxt {
    color: #189009;
}

    .greentxt .greenarrow {
        padding: 11px 11px 0 0;
        background: url(/Content/web/images/green-arrow.png) no-repeat 0 5px;
        display: inline-block;
    }

.redtxt {
    color: red;
}

    .redtxt .redarrow {
        padding: 11px 11px 0 0;
        background: url(/Content/web/images/red-arrow.png) no-repeat 0 2px;
        display: inline-block;
    }

.hdrbox hr {
    border-bottom: 1px dashed #A3C8E7;
    margin: 0;
}

/*Header Box End*/

/*DashBoard*/

.topline {
    background: #0171B0;
    height: 38px;
    color: #FFF;
    font-size: 13px;
    line-height: 38px;
    margin-bottom: 20px;
}

    .topline a.twtvlm, .topline a {
        color: #FFF;
        padding: 0 7px;
    }

        .topline a.mrktvlm {
            color: #FC9D0E;
        }

        .topline a:hover, .topline a:focus {
            color: #17B4E1;
        }

.blue-bar {
    background: #0470AE;
    height: 38px;
    wdith: 98%;
    padding: 0 1%;
}

.blue-bar-ttl {
    color: #FFF;
    text-transform: uppercase;
    float: left;
    line-height: 38px;
}

.blue-bar-menu {
    float: right;
}

    .blue-bar-menu ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

        .blue-bar-menu ul li {
            margin: 0 10px;
            float: left;
            /*line-height: 38px;*/
        }

        .blue-bar-menu ul li {
            /*color: #fff;*/
        }

            .blue-bar-menu ul li i {
                font-size: 10px;
                margin-right: 3px;
            }

                .blue-bar-menu ul li i.green {
                    color: #299b7f;
                }

                .blue-bar-menu ul li i.lightgreen {
                    color: #6dc7b1;
                }

                .blue-bar-menu ul li i.yellow {
                    color: #f1c951;
                }

                .blue-bar-menu ul li i.orange {
                    color: #f68a4b;
                }

                .blue-bar-menu ul li i.red {
                    color: #f15c69;
                }

.dashbrdwrp {
    border: 1px solid #EEE;
    width: 100%;
    background: #FFF;
    padding: 0 1%;
    overflow: hidden;
}

.dashbrdRw {
    width: 98%;
    margin: 0 auto;
    padding: 15px 0 0 0;
    overflow: hidden;
}

.bubblewrp {
    width: 98%;
    margin: 0 auto;
    padding: 15px 0;
    overflow: hidden;
    position: relative;
    webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    -ms-transition: all .25s ease-out;
    transition: all .25s ease-out;
}

.dashbrdTab {
    border-bottom: 1px solid #ECF0F1;
    padding: 0 0 15px 0px;
    width: 100%;
    float: left;
}

    .dashbrdTab .tab {
        margin: 0;
        padding: 0;
        list-style: none;
        text-transform: uppercase;
    }

        .dashbrdTab .tab li {
            float: left;
        }

            .dashbrdTab .tab li a {
                margin-right: 15px;
                font: normal 13px Verdana, Geneva, sans-serif;
                color: #9AA6B6;
                padding: 3px 10px;
                border-radius: 4px;
                border: 0;
            }

                .dashbrdTab .tab li a:hover, .dashbrdTab .tab li a.active {
                    background: #F68A4C;
                    color: #FFF;
                    text-decoration: none;
                }

#bubbles {
    min-height: 500px;
}

.bubble {
    text-decoration: none;
    /*font-family: 'proxima-nova-semibold';*/
    color: #fff;
    font-size: 1em;
    text-align: center;
    margin: 6px;
    position: absolute;
    -moz-border-radius: 500px;
    -khtml-border-radius: 500px;
    -webkit-border-radius: 500px;
    border-radius: 500px;
    webkit-transition: all .35s ease-out;
    -moz-transition: all .35s ease-out;
    -o-transition: all .35s ease-out;
    -ms-transition: all .35s ease-out;
    transition: all .35s ease-out;
}

.StrongBuy, .Buy, .Hold, .Sell, .StrongSell {
    color: #FFF !important;
}

    .StrongBuy div {
        background: #299b7f;
        text-align: center;
    }

    .Buy div {
        background: #6dc7b1;
        text-align: center;
    }

    .Hold div {
        background: #f1c951;
        text-align: center;
    }

    .Sell div {
        background: #f68a4b;
        text-align: center;
    }

    .StrongSell div {
        background: #f15c69;
        text-align: center;
    }

.Else div {
    background: #9C9E9E;
    text-align: center;
}

.ts100 {
    border-radius: 100%;
    width: 180px;
    height: 180px;
    float: left;
    font-size: 50px;
    line-height: 190px;
}

.ts95 {
    border-radius: 100%;
    width: 175px;
    height: 175px;
    float: left;
    font-size: 50px;
    line-height: 190px;
}

.ts90 {
    border-radius: 100%;
    width: 170px;
    height: 170px;
    float: left;
    font-size: 42px;
    line-height: 170px;
}

.ts85 {
    border-radius: 100%;
    width: 160px;
    height: 160px;
    float: left;
    font-size: 42px;
    line-height: 170px;
}

.ts80 {
    border-radius: 100%;
    width: 155px;
    height: 155px;
    float: left;
    font-size: 35px;
    line-height: 150px;
}

.ts75 {
    border-radius: 100%;
    width: 140px;
    height: 140px;
    float: left;
    font-size: 35px;
    line-height: 150px;
}

.ts70 {
    border-radius: 100%;
    width: 135px;
    height: 135px;
    float: left;
    font-size: 28px;
    line-height: 140px;
}

.ts65 {
    border-radius: 100%;
    width: 130px;
    height: 130px;
    float: left;
    font-size: 28px;
    line-height: 140px;
}

.ts60 {
    border-radius: 100%;
    width: 120px;
    height: 120px;
    float: left;
    font-size: 24px;
    line-height: 130px;
}

.ts55 {
    border-radius: 100%;
    width: 110px;
    height: 110px;
    float: left;
    font-size: 24px;
    line-height: 130px;
}

.ts50 {
    border-radius: 100%;
    width: 100px;
    height: 100px;
    float: left;
    font-size: 22px;
    line-height: 105px;
}

.ts45 {
    border-radius: 100%;
    width: 95px;
    height: 95px;
    float: left;
    font-size: 22px;
    line-height: 95px;
}

.ts40 {
    border-radius: 100%;
    width: 90px;
    height: 90px;
    float: left;
    font-size: 25px;
    line-height: 100px;
}

.ts35 {
    border-radius: 100%;
    width: 85px;
    height: 85px;
    float: left;
    font-size: 22px;
    line-height: 85px;
}

.ts30 {
    border-radius: 100%;
    width: 80px;
    height: 80px;
    float: left;
    font-size: 20px;
    line-height: 80px;
}

.ts25 {
    border-radius: 100%;
    width: 70px;
    height: 70px;
    float: left;
    font-size: 20px;
    line-height: 75px;
}

.ts20 {
    border-radius: 100%;
    width: 60px;
    height: 60px;
    float: left;
    font-size: 15px;
    line-height: 65px;
}

.ts15 {
    border-radius: 100%;
    width: 50px;
    height: 50px;
    float: left;
    font-size: 12px;
    line-height: 50px;
}

.ts10 {
    border-radius: 100%;
    width: 45px;
    height: 45px;
    float: left;
    font-size: 11px;
    line-height: 45px;
}

.ts5 {
    border-radius: 100%;
    width: 35px;
    height: 35px;
    float: left;
    font-size: 10px;
    line-height: 38px;
}

.topstoriesWrp {
    border: 1px solid #EEE;
    width: 100%;
    background: #FFF;
}

.storiesList {
    width: 86%;
    margin: 0 auto;
    margin-top: 15px;
}

    .storiesList h3 {
        color: #333;
        font-size: 18px;
        font-weight: bold;
    }

    .storiesList ul {
        list-style: none;
        margin: 0;
        padding-left: 15px;
    }

        .storiesList ul li {
            margin-bottom: 15px;
        }



/*DashBoard End*/

.commTxt {
    width: 85%;
    float: left;
}

.commTxtBtn {
    width: 15%;
    float: left;
}

    .commTxtBtn button {
        height: 34px;
        width: 34px;
        float: right;
    }

/* Menu Hover Dropdown Stock Start*/

.headmenu {
    position: relative;
}

    .headmenu ul.trendingbar, .headmenu .curve {
        display: none;
    }

    .headmenu:hover .curve {
        width: 20px;
        height: 20px;
        background: #898989;
        border-color: #333;
        left: 25px;
        -ms-transform: rotate(45deg) !important; /* IE 9 */
        -webkit-transform: rotate(45deg) !important; /* Chrome, Safari, Opera */
        -moz-transform: rotate(45deg) !important; /*Mozila firefox */
        transform: rotate(45deg);
        position: absolute;
        top: 9px;
        z-index: -1;
        /*animation: pulse 5s;*/
        display: block;
    }


    .headmenu:hover ul.trendingbar {
        list-style: none;
        display: block;
        position: absolute;
        margin: 0;
        padding: 17px 0 0 0;
        top: 7px;
        left: 0;
        z-index: 9999;
        width: 400px;
        /*border-bottom:1px solid #ccc;
    box-shadow: 2px 2px 4px #8F8F8F;*/
    }

        .headmenu:hover ul.trendingbar li {
            padding: 0 !important;
            margin: 0 !important;
            background: #EFEFEF;
            display: block;
            width: 400px;
            border-radius: 4px 4px 4px 4px;
        }

        .headmenu:hover ul.trendingbar .stocksList {
            height: 34px;
            padding: 0 10px;
            font-size: 13px;
            background: #898989;
            color: #FFF;
            font-weight: normal;
            line-height: 32px;
            border-radius: 4px 4px 0 0;
            overflow: hidden;
        }

            .headmenu:hover ul.trendingbar .stocksList span {
                font-weight: bold;
                display: inline;
                width: 85%;
                float: left;
            }

            .headmenu:hover ul.trendingbar .stocksList .addStockPlus {
                float: right;
                width: 15%;
                text-align: right;
            }

                .headmenu:hover ul.trendingbar .stocksList .addStockPlus a {
                    background: #86D73C;
                    padding: 0 !important;
                    line-height: 24px !important;
                    height: 23px;
                    border-radius: 4px;
                    width: 32px;
                    text-align: center;
                    float: right;
                }

        .headmenu:hover ul.trendingbar .trendRw {
            width: 100%;
            float: left;
            border-radius: 0 0 4px 4px;
        }

        .headmenu:hover ul.trendingbar .leftbar {
            float: left;
            width: 70%;
            color: #333;
            font-size: 14px;
        }

            .headmenu:hover ul.trendingbar .leftbar .lftrw {
                width: 98%;
                float: left;
                padding: 7px;
                font-weight: bold;
            }

        .headmenu:hover ul.trendingbar .up {
            color: #189009;
        }

        .headmenu:hover ul.trendingbar .down {
            color: #FF0000;
        }

        .headmenu:hover ul.trendingbar .rightbar {
            float: left;
            width: 30%;
            background: #E2E2E2;
            padding: 9px;
            text-align: right;
            text-transform: capitalize;
            border-radius: 0 0 4px 4px;
        }

            .headmenu:hover ul.trendingbar .rightbar ul {
                margin: 0;
                padding: 0;
                list-style: none;
                font-size: 12px;
            }

                .headmenu:hover ul.trendingbar .rightbar ul li {
                    display: block;
                    padding: 5px 7px 5px 12px !important;
                    width: 100%;
                    color: #333;
                    margin: 0;
                    background-color: #E2E2E2;
                }

                    .headmenu:hover ul.trendingbar .rightbar ul li:first-child {
                        border-bottom: 0px solid #f3f3f3;
                    }

        .headmenu:hover ul.trendingbar .UpPrise {
            color: #189009;
            background: url(/Content/web/images/up-arrow.png) no-repeat 0 5px;
            width: 18px;
            height: 18px;
            float: left;
            margin: 0 2px 0 4px;
        }

        .headmenu:hover ul.trendingbar .LowPrise {
            color: #FF0000;
            background: url(/Content/web/images/dwn-arrow.png) no-repeat 2px 4px;
            width: 18px;
            height: 18px;
            float: left;
        }

        .headmenu:hover ul.trendingbar .priceList {
            color: #333;
            font-size: 14px;
            font-weight: bold;
        }



        .headmenu:hover ul.trendingbar .addwatchlist {
            height: 38px;
            background: #86D73C;
            text-align: center;
            padding: 0 30px;
            color: #FFF !important;
            border-radius: 6px;
            border-bottom: 0px solid #6BAD31;
            float: left;
            line-height: 38px;
            margin: 7px 0 0 0px;
            font-weight: bold;
            font-size: 12px;
        }

.mrgnlft5 {
    margin-left: 5px;
}

.mrgnlft10 {
    margin-left: 10px;
}

.marginauto {
    margin: 0 auto;
    width: auto;
    display: table;
    text-align: center;
}

    .marginauto .UpPrise {
        margin: 3px 0px 0px 8px !important;
    }
/* Menu Hover Dropdown Stock End*/
.noti_bubble {
    position: absolute;
    top: -10px;
    right: 12px;
    padding: 1px 2px 1px 2px;
    background-color: #FB9D17;
    color: white;
    font-weight: bold;
    font-size: 0.70em;
    border-radius: 30px;
    box-shadow: 1px 1px 1px gray;
}

/*Slider css*/

.bannerSlider {
    background: url('/Content/web/images/banner-bg.jpg') no-repeat center 0;
    width: 709px;
    height: 440px;
    float: left;
}

    .bannerSlider .scrolImg {
        width: 533px;
        height: 349px;
        margin: 23px 0 0 86px;
    }
/*End Slider*/

.btnTrendInSight {
    background: #FF9C37;
    font: normal 13px Verdana, Geneva, sans-serif;
    color: #FFF;
    padding: 3px 7px;
    border: 1px solid #d78f45;
    border-bottom: 2px solid #FF9C37;
    cursor: pointer;
}

.btnwatchlist2 {
    height: 38px;
    background: #86D73C;
    text-align: center;
    padding: 0 14px;
    color: #FFF !important;
    border-radius: 6px;
    border-bottom: 2px solid #6BAD31;
    line-height: 38px;
    text-transform: uppercase;
    margin: 6px auto;
    width: 301px;
    display: block;
    margin-bottom: 15px;
}

.userfollowing {
    color: #FD9B16;
}

    .userfollowing a {
        color: #FD9B16;
    }

    .userfollowing i {
        color: #FD9B16;
    }

/*Progress bar CSS*/
.progressWrap {
    /*margin-top: -7px;*/
    float: right;
}

.progRow {
    width: 100%;
    display: block;
    margin-bottom: 0;
    height: 17px;
    line-height: 18px;
}

    .progRow .progLable {
        color: #333;
        float: left;
        margin-right: 10px;
        width: 80px;
    }

    .progRow .progpercent {
        float: left;
        width: 30px;
        text-align: right;
    }

.progressChart {
    width: 125px;
    height: 10px;
    padding: 0;
    margin-top: 6px;
    margin-right: 10px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 15px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    float: left;
}

.progressChart-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #337ab7;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}

.progressChart-bar-striped, .progressChart-striped .progressChart-bar {
    background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: -o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    -webkit-background-size: 40px 40px;
    background-size: 40px 40px;
}

.progressChart-bar.active, .progressChart.active .progressChart-bar {
    -webkit-animation: progress-bar-stripes 2s linear infinite;
    -o-animation: progress-bar-stripes 2s linear infinite;
    animation: progress-bar-stripes 2s linear infinite;
}

.progressChart-bar-success {
    background-color: #299b7f;
}

.progressChart-striped .progressChart-bar-success {
    background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: -o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
}

.progressChart-bar-info {
    background-color: #6dc7b1;
}

.progressChart-striped .progressChart-bar-info {
    background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: -o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
}

.progressChart-bar-warning {
    background-color: #f1c951;
}

.progressChart-striped .progressChart-bar-warning {
    background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: -o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
}

.progressChart-bar-danger {
    background-color: #f15c69;
}

.progressChart-striped .progressChart-bar-danger {
    background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: -o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
}

.progressChart-bar-Sell {
    background-color: #f68a4b;
}

.progressChart-striped .progressChart-bar-Sell {
    background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: -o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
}

#shareIdeaList {
    width: 100%;
    float: left;
}

.clear {
    clear: both !important;
}

.padding-lft-nn {
    padding-left: 0 !important;
}

.sharon {
    float: right;
    padding-top: 7px;
}

.overflow {
    overflow: hidden;
}

::-moz-file-upload-button {
    cursor: pointer;
}

.tenrowChart {
    width: 265px;
    margin: 0 auto;
    padding: 10px 0;
}

/*Menu hover share Idea*/

div#shareIdeaList {
}


.curve {
    width: 20px;
    height: 20px;
    background: #898989;
    border-color: #333;
    left: 25px;
    -ms-transform: rotate(45deg) !important; /* IE 9 */
    -webkit-transform: rotate(45deg) !important; /* Chrome, Safari, Opera */
    -moz-transform: rotate(45deg) !important; /*Mozila firefox */
    transform: rotate(45deg);
    position: absolute;
    top: -10px;
    z-index: -1;
    /*animation: pulse 5s;*/
    display: block;
}

/*

    for curve
2497
@keyframes pulse {
    0% {
        background-color: #fff;
        display:none;
    }

    100% {
        background-color: #898989;
        display: block;
    }
}




2981
@keyframes pulse {
    0% {
        background-color: #fff;
    }

    100% {
        background-color: #898989;
    }
}

*/

div#test123 {
    position: absolute;
    margin: 0;
    top: 7px;
    left: 0;
    z-index: 9999;
    width: 400px;
    display: none;
    background: #EFEFEF;
    font: normal 13px Arial, Helvetica, sans-serif;
}

    div#test123 .stocksList {
        height: 34px;
        padding: 0 10px;
        font-size: 13px;
        background: #898989;
        color: #FFF;
        font-weight: normal;
        line-height: 32px;
        display: block;
        border-radius: 4px 4px 0 0;
    }

        div#test123 .stocksList span {
            font-weight: bold;
            display: inline;
            width: 85%;
            float: left;
        }

        div#test123 .stocksList .addStockPlus {
            float: right;
            width: 15%;
            text-align: right;
        }

            div#test123 .stocksList .addStockPlus a {
                background: #86D73C;
                padding: 0 !important;
                line-height: 24px !important;
                height: 23px;
                border-radius: 4px;
                width: 32px;
                text-align: center;
                float: right;
            }

    div#test123 .trendRw {
        width: 100%;
        float: left;
        border-radius: 0 0 4px 4px;
    }

    div#test123 .leftbar {
        float: left;
        width: 70%;
        color: #333;
        font-size: 14px;
    }

        div#test123 .leftbar .lftrw {
            width: 98%;
            float: left;
            padding: 7px;
            font-weight: bold;
        }

    div#test123 .up {
        color: #189009;
    }

    div#test123 .down {
        color: #FF0000;
    }

    div#test123 .rightbar {
        float: left;
        width: 30%;
        background: #E2E2E2;
        padding: 9px;
        text-align: right;
        font-weight: bold !important;
        border-radius: 0 0 4px 4px;
    }

        div#test123 .rightbar ul {
            margin: 0;
            padding: 0;
            list-style: none;
            font-size: 12px;
        }

            div#test123 .rightbar ul li {
                display: block;
                padding: 5px 7px 5px 12px !important;
                width: 100%;
                color: #333;
                margin: 0;
                background-color: #E2E2E2;
            }

                div#test123 .rightbar ul li:first-child {
                    border-bottom: 0px solid #f3f3f3;
                }

    div#test123 .UpPrise {
        color: #189009;
        background: url(/Content/web/images/up-arrow.png) no-repeat 0 4px;
        width: 18px;
        height: 18px;
        float: left;
        margin: 0 2px 0 4px;
    }

    div#test123 .LowPrise {
        color: #FF0000;
        background: url(/Content/web/images/dwn-arrow.png) no-repeat 2px 4px;
        width: 18px;
        height: 18px;
        float: left;
    }

    div#test123 .priceList {
        color: #333;
        font-size: 14px;
        font-weight: bold;
    }



    div#test123 .addwatchlist {
        height: 30px;
        background: #86D73C;
        text-align: center;
        padding: 0 30px;
        color: #FFF !important;
        border-radius: 27px;
        border-bottom: 0px solid #6BAD31;
        float: left;
        line-height: 29px;
        margin: 7px 0 0 0px;
        font-weight: bold;
        font-size: 12px;
    }

    div#test123 .paddingtop {
        padding-top: 25px !important;
        background-color: none !important;
    }
/**/

.qtip-content {
    font: normal 13px Arial, Helvetica, sans-serif !important;
}



    .qtip-content .stocksList {
        height: 30px !important;
        padding: 0 10px !important;
        font-size: 13px !important;
        background: #898989 !important;
        color: #FFF;
        font-weight: normal;
        line-height: 28px;
        text-align: left;
        border-radius: 4px 4px 0 0;
    }

        .qtip-content .stocksList span {
            font-weight: bold !important;
            display: inline;
            width: 85%;
            float: left;
        }


        .qtip-content .stocksList .addStockPlus {
            float: right;
            width: 15%;
            text-align: right;
        }

            .qtip-content .stocksList .addStockPlus a {
                background: #86D73C;
                padding: 0 !important;
                line-height: 24px !important;
                height: 23px;
                border-radius: 4px;
                width: 32px;
                text-align: center;
                float: right;
                margin-top: 2px;
            }

    .qtip-content .trendRw {
        width: 100% !important;
        float: left !important;
        background: #EFEFEF;
        font-weight: bold;
        border-radius: 0 0 4px 4px;
    }

    .qtip-content .leftbar {
        float: left;
        width: 70%;
        color: #333;
        font-size: 14px;
    }

        .qtip-content .leftbar .lftrw {
            width: 98%;
            float: left;
            padding: 7px;
            font-weight: bold;
        }

    .qtip-content .up {
        color: #189009;
    }

    .qtip-content .down {
        color: #FF0000;
    }

    .qtip-content .rightbar {
        float: left;
        width: 30%;
        background: #E2E2E2;
        padding: 9px;
        text-align: right;
        border-radius: 0 0 4px 4px;
    }

        .qtip-content .rightbar ul {
            margin: 0;
            padding: 0;
            list-style: none;
            font-size: 12px;
        }

            .qtip-content .rightbar ul li {
                display: block;
                padding: 5px 7px 5px 12px !important;
                width: 100%;
                color: #333;
                margin: 0;
                background-color: #E2E2E2;
            }

                .qtip-content .rightbar ul li:first-child {
                    border-bottom: 0px solid #f3f3f3;
                }

    .qtip-content .UpPrise {
        color: #189009;
        background: url(/Content/web/images/up-arrow.png) no-repeat 0 4px;
        width: 18px;
        height: 18px;
        float: left;
        margin: 0 2px 0 4px;
    }

    .qtip-content .LowPrise {
        color: #FF0000;
        background: url(/Content/web/images/dwn-arrow.png) no-repeat 2px 4px;
        width: 18px;
        height: 18px;
        float: left;
    }

    .qtip-content .priceList {
        color: #333;
        font-size: 14px;
        font-weight: bold;
    }

    .qtip-content .progpercent {
        color: #F68A4C;
    }


    .qtip-content .progressWrap {
        font-weight: bold;
    }

    .qtip-content .addwatchlist {
        height: 38px;
        background: #86D73C;
        text-align: center;
        padding: 0 30px;
        color: #FFF !important;
        border-radius: 6px;
        border-bottom: 0px solid #6BAD31;
        float: left;
        line-height: 38px;
        margin: 7px 0 0 0px;
        font-weight: bold;
        font-size: 12px;
    }

.userview {
    padding-top: 3px;
    margin-top: 7px;
    border-top: 1px solid #ECF0F1;
    width: 100%;
    float: left;
}


/*search bar dropdown*/

.searchdrop .bootstrap-select > .dropdown-toggle {
    width: 85px;
    padding-right: 25px;
    padding-left: 12px;
    z-index: 1;
    border-radius: 0;
    outline: none;
    border: 0;
}

.searchdrop .btn-group {
    width: 85px !important;
    position: absolute;
    top: 0;
    right: 33px;
}

button:active, button::selection {
    outline: none;
    border: 0;
}

.searchdrop .btn {
    outline: none;
    background: #E2E2E2;
    font-size: 13px;
    color: #333;
    padding: 7px;
    border-radius: 0;
    border: 0;
    cursor: pointer;
}

.searchdrop .dropdown-menu {
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0;
    top: 98%;
    padding-bottom: 0;
}

    .searchdrop .dropdown-menu li {
        border-bottom: 1px solid #ECECEC;
    }

        .searchdrop .dropdown-menu li:last-child {
            border-bottom: 0;
        }

        .searchdrop .dropdown-menu li a {
            padding-left: 11px;
        }

            .searchdrop .dropdown-menu li a:hover {
                background-color: #FBB256 !important;
                box-shadow: 0px 0px 3px #333 inset !important;
                outline: none;
                border: 0;
            }

.searchdrop .bootstrap-select .dropdown-toggle:focus {
    outline: 0 !important;
}
/**/
.chartWidth > div {
    margin: 0 auto !important;
}

@media only screen and (min-width: 1900px) {
    .bigscreen {
        width: 93% !important;
        min-width: 93% !important;
        margin: 0 auto;
    }
}



/*File Upload*/

.posiRel {
    position: relative;
}

.file {
    opacity: 0;
    position: relative;
    z-index: 11;
    width: 102px;
    padding: 0;
    height: 32px;
}

.browsfile {
    position: absolute;
    z-index: 0;
    border: 0px dashed #AAA;
    /*padding-left: 35px;*/
    top: 0;
    /*width: 100%;*/
    height: 30px;
    color: #1E739B;
}

.btn-green {
    color: #ffffff;
    background-color: #0471AE;
    border-color: #0471AE;
    border-radius: 2px;
    padding: 5px 14px;
}
/**/

.ftr {
    width: 100%;
    margin: 3px 0;
    float: left;
}

    .ftr .footer {
        margin: 0;
    }

    .ftr .ftmenu {
        padding: 0;
        width: 100%;
    }

        .ftr .ftmenu li {
            color: #333;
            margin-right: 14px;
            text-transform: uppercase;
            float: left;
            font-size: 12px;
        }

            .ftr .ftmenu li i {
                font-size: 15px;
            }

.headerShareIdea {
    margin-top: 15px;
    text-align: center;
    position: relative;
}

#headerShareIdeaBlock textarea {
    width: 100%;
    border: 1px solid #DDD;
    margin-bottom: 3px;
}

.headerShareIdeaModel {
    font-family: inherit;
    font-weight: 500;
    line-height: 0.8;
    color: #756C6C;
    text-align: left;
}

.textcomplete-dropdown {
    z-index: 9999 !important;
}

.msgRpl {
    width: 98%;
    padding: 10px;
    margin: 0 20px 30px 10px;
    overflow: hidden;
    border: 1px solid rgb(234, 233, 233);
    box-shadow: 2px 2px 4px #EEE;
    background-color: #FFEFD9;
}

    .msgRpl .commTxt {
        width: 95% !important;
    }

    .msgRpl .commTxtBtn {
        width: auto !important;
        margin-left: 9px;
        float: right;
    }

.msgRpl_btn {
    background: #0471AE;
    width: auto;
    border: 1px solid #036398;
    border-bottom: 2px solid #036398;
}

.profileBlockIcon td {
    width: 20%;
    height: 50px;
    text-align: center;
    vertical-align: middle;
}

.likeBorder {
    border: 1px solid #eee;
    padding: 2px 4px;
}

.nse_bseBtn {
    background: #A8AAAB;
    color: #FFF;
    text-decoration: none;
    border: 0;
    outline: none;
}


    .nse_bseBtn:hover, .actBtn .active {
        background: #0071A9;
    }

.flexMenu-viewMore {
    display: none !important;
}
