﻿.messageWrap {
    background: #0171B0;
}

.setupImgwrp {
    width: 94%;
    border-radius: 2px;
    background: #E9E9E9;
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
    display: table;
}

.setupImg {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    margin-bottom: 15px;
    border-radius: 7px;
    border: 2px solid #949B9E;
}

.setupImgwrp .userName {
    font-weight: bold;
    color: #0471AE;
    text-align: center;
}

.setupList {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
}

    .setupList li {
        padding: 5px 10px;
        line-height: 22px;
        border-bottom: 1px solid #DBDBDB;
        display: block;
    }

        .setupList li:hover, .setupList li.active {
            background: #FFEFD9;
        }

            .setupList li a, .setupList li:hover a {
                color: #333;
            }

    .setupList i {
        padding-right: 10px;
        color: #0071B2;
    }

.colbgwrp {
    background: #FFEFD9;
    width: 100%;
    min-height: 415px;
    height: auto;
}

.colbgwrp {
    background: #0171B0;
    /*padding: 15px 0;*/
    color: #FFFFFF;
}

    .colbgwrp a {
        color: #FFFFFF;
    }

    .colbgwrp ul {
        margin: 0;
        padding: 0;
        list-style: none;
        width: 98%;
        float: right;
        margin-top: 4px;
    }

        .colbgwrp ul li {
            float: left;
            width: 100%;
            /*margin-bottom: 8px;*/
            padding: 2px 10px;
            /*border-bottom: 1px solid #0181C7;*/
            background: url(../images/rowbg.png) no-repeat 0 bottom;
        }

            .colbgwrp ul li a {
                float: left;
                width: 100%;
            }

            .colbgwrp ul li .imgSeprator {
                padding-bottom: 3px;
                /*border-bottom: 1px solid #0181C7;*/
                float: left;
                width: 32px;
                margin-right: 10px;
                margin-top: 2px;
            }

            .colbgwrp ul li:hover .imgSeprator {
                border-bottom: 0px solid #ECEEF2;
            }

            .colbgwrp ul li img {
                float: left;
                width: 32px;
                border-radius: 50%;
            }

            .colbgwrp ul li:hover, .colbgwrp ul li.active {
                background: #FFFFFF url(../images/rowbg.png) no-repeat 0 bottom;
                color: #0171B0;
                border-radius: 30px 0 0 30px;
            }

                .colbgwrp ul li:hover a, .colbgwrp ul li.active a {
                    color: #0171B0;
                }

                .colbgwrp ul li:hover, .colbgwrp ul li.active .messageUname {
                    color: #A7A7A7;
                }
                .questionListing li{
                     padding: 5px 10px !important;
                }
.usermsgwrp {
    width: 100%;
    padding: 35px;
    padding-top: 15px;
    background: #ECEEF2;
    min-height: 415px;
    height: auto;
    box-shadow: 0 0px 1px #CCC;
    overflow: hidden;
    position: relative;
    padding-bottom: 65px;
}

    .usermsgwrp .chatrw {
        width: 84%;
        margin: 0 0 20px 30px;
        float: left;
    }

    .usermsgwrp .chatrw2 {
        width: 84%;
        margin: 0 0px 0px 0px;
        float: right;
    }

    .usermsgwrp .chatimg {
        width: 56px;
        height: 32px;
        float: left;
        margin-right: 4px;
    }

        .usermsgwrp .chatimg img {
            border-radius: 50%;
        }

    .usermsgwrp .message {
        width: 74%;
        min-height: 30px;
        height: auto;
        border: 1px dashed #86B5D8;
        border-radius: 3px;
        position: relative;
        padding: 7px 15px;
        background: #A7CEEB;
        box-shadow: 2px 2px 2px #DDD;
        float: left;
        margin-right: 10px;
    }

        .usermsgwrp .message::before {
            position: absolute;
            top: 2%;
            margin-left: -27px;
            width: 12px;
            height: 15px;
            content: '';
            background: url(../images/chatArrow.png) no-repeat 0 0;
        }

.curentimg {
    width: 56px;
    height: 32px;
    margin-left: 21px;
    float: left;
}

.usermsgwrp .curentimg img {
    border-radius: 50%;
}

.usermsgwrp .curentMsage {
    width: 75%;
    min-height: 30px;
    height: auto;
    border: 1px dashed #D0D0D0;
    border-radius: 3px;
    padding: 7px 15px;
    position: relative;
    background: #FFF;
    box-shadow: 2px 2px 2px #DDD;
    margin: 0 0px 20px 15px;
    float: left;
}

.usermsgwrp .curentdtlft {
    font-size: 10px;
    float: left;
    margin-top: 12px;
}

.usermsgwrp .curentdtlrt {
    font-size: 10px;
    float: left;
    margin-top: 12px;
}

.usermsgwrp .curentMsage::after {
    position: absolute;
    top: 2%;
    right: -11px;
    width: 12px;
    height: 15px;
    content: '';
    background: url(../images/chatArrowrt.png) no-repeat 0 0;
}

.chatUsersbg {
    background: #FFEFD9;
}

.settingTitle {
    font-size: 20px;
    text-align: left;
    padding: 6px 18px;
    border: 0 #FFEFD9 solid;
    background-color: #43ACE4;
    color: #FFFFFF;
}

    .settingTitle i {
        color: #FFFFFF;
        margin-right: 10px;
    }

.messageUname {
    color: #70AFDE;
    width: 100%;
    float: left;
    font-size: 12px;
}

    .messageUname:hover a {
        color: #333;
    }

.messageUser {
    float: left;
    width: 74%;
}

.messageReply {
    width: 100%;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    padding: 5px 25px;
    border-top: 1px solid #CDCFD2 !important;
    left: 0;
    background: #FFFFFF;
}

    .messageReply textarea {
        border: 0;
        width: 98%;
        box-shadow: none;
        resize: none;
    }

        .messageReply textarea:focus {
            box-shadow: none;
        }

.messageReplyTxt {
    width: 80%;
    float: left;
    margin-left: 54px;
}

.messageReplyBtn {
    width: 40px;
    float: left;
}

    .messageReplyBtn button {
        background: #5C5E5F;
        border: 0 solid #5C5E5F;
        border-bottom: 0 solid #5C5E5F;
        border-radius: 20px;
        height: 36px;
        width: 36px;
        outline: none;
    }

    .messageReplyBtn:hover button i {
        color: #FFF;
    }

.messageLftWrp {
    width: 17%;
}

.messageRtWrp {
    width: 83%;
}
