﻿@model StockCharcha.Helpers.PagedData<StockCharcha.DataAccess.SymbolMaster>
@using StockCharcha.Utils

<script src="~/Content/admin/bootstrap/js/jquery.bootpag.js"></script>
<script src="~/Content/admin/scripts/Shared/Common.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        Common.Paging(@Model.NumberOfPages, @Model.CurrentPage, "SymbolMasters");
    });
</script>

<div class="box-body table-responsive no-padding">
    @if (Model.Data.Count() == 0 || Model == null)
    {
        int cnt = Model.Data.Count() + 1;
        <table class="table table-striped">
            <tr>
                <td colspan="@cnt">No Records Found.</td>
            </tr>
        </table>
    }
    else
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>NSE</th>
                    <th>BSE</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="itemContainer">
                @foreach (var item in Model.Data.OrderByDescending(x => x.CreatedOn))
                {
                    <tr>
                        <td>@item.NSESymbol</td>
                        <td>@item.BSESymbol</td>
                        <td>
                            <a href="@Url.Action("Edit", "SymbolMasters", new { id = item.Id })">
                                <img src="~/Content/admin/images/edit.png" />
                            </a> &nbsp; &nbsp;
                            <a href="@Url.Action("Delete", "SymbolMasters", new { confirm = true, id = item.Id, onclick = "return confirm('" + CommonConstants.ConfirmDelete + "')" })">
                                <img src="~/Content/admin/images/delete.png" />
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3">
                        <p class="paging"></p>
                    </td>
                </tr>
            </tfoot>
        </table>
    }

</div><!-- /.box-body -->
