﻿@model StockCharcha.Helpers.PagedData<StockCharcha.DataAccess.TemplateMaster>
@using StockCharcha.Utils

<script src="~/Content/admin/bootstrap/js/jquery.bootpag.js"></script>
<script src="~/Content/admin/scripts/Shared/Common.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        Common.Paging(@Model.NumberOfPages, @Model.CurrentPage, "Settings");
    });
</script>

<div class="box-body table-responsive no-padding">
    @if (Model.Data.Count() == 0 || Model == null)
    {
        int cnt = Model.Data.Count() + 1;
        <table class="table table-striped">
            <tr>
                <td colspan="@cnt">No Records Found.</td>
            </tr>
        </table>
    }
    else
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Template Name</th>
                    <th>Subject</th>
                    <th>Status</th>
                    <th>IsDeleted</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="itemContainer">
                @foreach (var item in Model.Data.OrderByDescending(x => x.CreatedOn))
                {
                    <tr>
                        <td>@item.TemplateName</td>
                        <td>@item.TemplateSubject</td>
                        <td>@item.IsActive</td>
                        <td>@item.IsDelete</td>
                        <td>
                            <a href="@Url.Action("Edit", "Settings", new { id = item.TemplateID })">
                                <img src="~/Content/admin/images/edit.png" />
                            </a> &nbsp; &nbsp;
                            <a href="@Url.Action("Delete", "Settings", new { confirm = true, id = item.TemplateID, onclick = "return confirm('" + CommonConstants.ConfirmDelete + "')" })">
                                <img src="~/Content/admin/images/delete.png" />
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3">
                        <p class="paging"></p>
                    </td>
                </tr>
            </tfoot>
        </table>
    }

</div><!-- /.box-body -->
