﻿@model StockCharcha.Models.TemplateModel
@using StockCharcha.Utils

@{
    ViewBag.Title = Model.TemplateID > 0 ? "Update" : "Create";
    string pageTitle = Model.TemplateID > 0 ? "Update" : "Create";
}
<div class="notifications-align">
    @if ((string)TempData[CommonConstants.ModelStatus] == CommonConstants.ModelInvalidStatus)
    {
        <div class="alert alert-danger show top-notification">
            <button class="close" data-dismiss="alert">x</button>
            @TempData[CommonConstants.MessageStatus]
        </div>
    }
</div>

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>Symbol</h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("TemplateList", "Settings")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="@Url.Action("TemplateList", "Settings")">Template</a></li>
        <li class="active">@pageTitle</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">@pageTitle</h3>
        </div><!-- /.box-header -->
        @using (Html.BeginForm("AddOrEditTemplate", "Settings", FormMethod.Post, new { role = "form" }))
        {
            <div class="box-body">

                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.TemplateID)
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.LabelFor(model => model.TemplateName)
                            @Html.TextBoxFor(model => model.TemplateName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.TemplateName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.LabelFor(model => model.TemplateSubject)
                            @Html.TextBoxFor(model => model.TemplateSubject, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.TemplateSubject, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.LabelFor(model => model.TemplateDescription)
                            @Html.EditorFor(model => model.TemplateDescription, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.TemplateDescription, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.LabelFor(model => model.IsActive)
                            @Html.EditorFor(model => model.IsActive, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div><!-- /.box-body -->
            <div class="box-footer">
                <button type="submit" class="btn btn-primary">@pageTitle</button>
            </div>
        }
    </div><!-- /.box -->
</section><!-- /.content -->
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
