﻿<div class="col-sm-10 paddnn chatUsersbg">
    <div class="notifications" style="z-index: 999;position: fixed;top: 1px;left: 0px;width: 100%;"></div>
    <div class="activepage">
        <div class="loginrw">
            <h3>Change Password</h3>
        </div>
        <div class="loginrw">
            <div class="form-group" id="accountVarificationErrorDiv" style="display: none;color: red;">
                <label class="errorClass" id="accountVarificationErrorSpan"></label>
            </div>
        </div>
        <div class="loginrw">
            <input type="text" class="form-control" id="txtEmailActivate" placeholder="Email">
        </div>
        <div class="loginrw">
            <input name="txtCurrentPassword" id="txtCurrentPassword" tabindex="2" title="Current Password" class="form-control" placeholder="Current Password" type="password">
        </div>
        <div class="loginrw">
            <input name="txtNewPassword" id="txtNewPassword" tabindex="3" title="New Password" class="form-control" placeholder="New Password" type="password">
        </div>

        <div class="loginrw">
            <input name="BtnActivate" value="Submit" onclick="User.ChangePassword()" class="btn btn-primary " type="button">
        </div>
    </div>
</div>