﻿
<div class="ftr">
    <div class="footer">
        <div>
            <ul class="ftmenu">
                <li><a href="@Url.RouteUrl("AboutUs")">About</a></li>
                <li><a href="@Url.RouteUrl("Helps")">Help</a></li>
                <li><a href="@Url.RouteUrl("Blog")">Blog</a></li>
                <li><a href="@Url.RouteUrl("Rules")">Rules</a></li>
                <li class="mbdispnn"><strong>|</strong></li>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            </ul>
        </div>
    </div>
</div>
<div class="ftr">
    <div class="footer">
        <div class="copyright">
            &copy; @DateTime.Now.Year Stock Charcha - All Rights Reserved
        </div>
    </div>
</div>