﻿@using StockCharcha.Utils
@using StockCharcha.Utils.Utilities
@using StockCharcha.Utils.Enums
@model StockCharcha.Models.Web.HeaderShareIdea

@{
    List<SelectListItem> trendInsightListHeader = EnumUtil.GetStringListByEnumType<TrendInsights>().Select(x => new SelectListItem() { Text = EnumUtil.GetEnumDescription(EnumUtil.ParseEnum<TrendInsights>(x)), Value = Convert.ToString((int)EnumUtil.ParseEnum<TrendInsights>(x)) }).ToList();
}
<script src="~/Content/jquery-textcomplete-master/dist/jquery.textcomplete.js"></script>
<script type="text/javascript">
    var headerShareIdeaNewFileName;
    var headerShareIdeaOriginalFileName;

    $(function () {
        $('#txtHeaderUploadFile').on('change', function (e) {
            Common.ShowSendingProgress();
            var files = e.target.files;
            if (files.length > 0) {
                if (window.FormData !== undefined) {
                    var data = new FormData();
                    for (var x = 0; x < files.length; x++) {
                        data.append("file" + x, files[x]);
                    }

                    $.ajax({
                        type: "POST",
                        url: '/Home/UploadAttachedFile',
                        contentType: false,
                        processData: false,
                        data: data,
                        success: function (result) {
                            if (result.IsSuccess) {
                                headerShareIdeaNewFileName = result.html.NewFileName;
                                headerShareIdeaOriginalFileName = result.html.OriginalFilePath;
                                $('#editorImage').html(result.html.EditorImage)
                            } else {
                                $('#txtHeaderUploadFile').replaceWith($("#txtHeaderUploadFile").clone(true));
                                Common.ShowError("Please login first.", true);
                                Common.ScrollToElement($(".notifications"));
                            }
                        },
                        complete: function () {
                            Common.StopProgress();
                        },
                        error: function (xhr, status, p3, p4) {
                            var err = "Error " + " " + status + " " + p3 + " " + p4;
                            if (xhr.responseText && xhr.responseText[0] == "{")
                                err = JSON.parse(xhr.responseText).Message;
                            console.log(err);
                        }
                    });
                } else {
                    alert("This browser doesn't support HTML5 file uploads!");
                }
            }
        });
        ShareIdeaTextAreaAutoComplete();
    })
    function RemoveAttachment() {
        $('#txtHeaderUploadFile').replaceWith($("#txtHeaderUploadFile").clone(true));
        $('#editorImage').html('');
        headerShareIdeaNewFileName = "";
        headerShareIdeaOriginalFileName = "";
    }
    function ShareIdeaTextAreaAutoComplete() {
        var symbol = "";
        var companyName = "";
        var searchText = "";
        $('#ckEditor').textcomplete([{
            match: /\B@@(\w{2,})$/,
            search: function (term, callback) {
                term = term.toLowerCase();
                $.getJSON("/Home/UserList", { searchText: term })
                  .done(function (resp) {
                      callback($.map(resp, function (word) {
                          return word.toLowerCase().indexOf(term) === 0 ? word : null;
                      }));
                  })
                  .fail(function () {
                      callback([]);
                  });
            },
            index: 1,
            replace: function (mention) {
                return '@@' + mention + ' ';
            }
        }, {
            match: /\B#(\w{2,})$/, //    /^\B#(\w{2,})+[a-zA-Z0-9_ ]*$/
            search: function (term, callback) {
                term = term.toLowerCase();
                $.getJSON("/Home/SymbolsList", { searchText: term })
                  .done(function (resp) {
                      callback($.map(resp, function (word) {
                          symbol = word.Key;
                          companyName = word.Value;
                          searchText = symbol.toLowerCase().search(term) === 0 ? symbol + " " + companyName : companyName.toLowerCase().search(term) === 0 ? symbol + " " + companyName : null;
                          return searchText;
                      }));
                  })
                  .fail(function () {
                      callback([]);
                  });
            },
            index: 1,
            replace: function (resp) {
                return '#' + resp.split(' ')[0] + ' ';
            }
        }
        ], {
            appendTo: 'body'
        })
    }
    function HeaderShareIdea() {
        Common.ShowSendingProgress();
        var description = $("#ckEditor").val();
        if (description === "") {
            Common.ShowError("Share idea first.", true);
            Common.StopProgress();
            return false;
        } else {
            description = StockDetail.RenderHTML($("#ckEditor").val());
        }

        var model = new Object();
        //model.Symbol = $("#symboll").val();
        model.Description = description;//CKEDITOR.instances.ckeditor.getData();
        model.Everyone = $('#chkEveryone').is(":checked");
        model.OnlyFollowers = $('#chkFollower').is(":checked");
        model.TrendInSights = $("#drpTrend").children().closest(".active").val();
        model.EmailOnReply = $('#chkEmailMe').is(":checked");
        model.OriginalFileName = headerShareIdeaOriginalFileName;
        model.NewFileName = headerShareIdeaNewFileName;

        $.ajax({
            url: "/Home/HeaderShareIdea",
            type: "POST",
            //dataType: "json",
            data: JSON.stringify(model),
            contentType: 'application/json; charset=utf-8',
            success: function (response) {
                if (response.IsSuccess) {
                    headerShareIdeaNewFileName = "";
                    headerShareIdeaOriginalFileName = "";
                    FetchIdeas();
                    $('#CancelHeadershareIdeaDialog').trigger('click');
                } else {
                    Common.ShowError("Please login first.", true);
                    Common.ScrollToElement($(".notifications"));
                }
            },
            complete: function () {
                Common.StopProgress();
            }
        });
    }
    function FetchIdeas() {
        var selectedClass = $(".tab li button.active").attr('id');
        $("#newIdeaCount").text('');
        $("#newIdeaCount").text(0);
        $("#lastFetchIdeaDate").val($("#curDate").text());
        $(".tab li button.active").trigger("click");
    }
</script>

<div class="modal-dialog" role="document" style="width: 750px;">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title headerShareIdeaModel" id="headerTextLogin">Share An Idea</h4>
        </div>
        <div class="modal-body" style="padding: 0;">
            <div id="headerShareIdeaBlock">
                <div class="shinebg">
                    <textarea id="ckEditor" rows="3" data-limit-input="@Model.ShareIdeaTextLimit"></textarea>
                    <span style="float:left;">0 of @Model.ShareIdeaTextLimit characters used</span>
                    <div class=" col-sm-8 paddnn" style="float: right;">
                        <div class="upImage">
                            <div id="editorImage"></div>
                            <a class="cursorPtr imageDelete" onclick="RemoveAttachment()"><i class="fa fa-remove" title="Remove image"></i></a>
                        </div>
                        <div class="pin">
                            <i class="fa fa-paperclip fong25 rotate">
                            </i><input type="file" name="UploadFile" id="txtHeaderUploadFile" />&nbsp;&nbsp;Attach
                        </div>
                        <div id="drpTrend" class="btn-group">
                            @foreach (var item in trendInsightListHeader)
                            {
                                <button type="button" class="btn btn-primary btnTrendInSight" onclick="Common.ShareIdeaToggleReset(this)" value="@item.Value">@item.Text</button>
                            }
                        </div>
                    </div>
                </div>

                <div class="whoseethisWrp">
                    <div class="col firstdiv">Who Can See This?</div>
                    <div class="col everyonesee">
                        <div class="whoseethis">
                            <input id="chkEveryone" class="checkbox-custom" name="chkEveryone" type="checkbox" checked="checked">
                            <label for="chkEveryone" class="checkbox-custom-label"></label>Everyone
                        </div>
                    </div>
                    <div class="col">
                        <div class="whoseethis">
                            <input id="chkFollower" class="checkbox-custom" name="chkFollower" type="checkbox">
                            <label for="chkFollower" class="checkbox-custom-label"></label>Only Followers
                        </div>
                    </div>
                    @*<div class="sharon">
                            <strong class="fltlft">SHARE ON</strong>
                            <div class="social">
                                <a class="cursorPtr" id="share_button"><i class="fa fa-facebook"></i></a>
                                <a id="tweetClick" class="cursorPtr" data-url="StockCharcha"><i class="fa fa-twitter"></i></a>
                                <script src="https://apis.google.com/js/plusone.js"></script>
                                <a href="javascript:(function(){var w=480;var h=380;var x=Number((window.screen.width-w)/2);var y=Number((window.screen.height-h)/2);
                                                                    window.open('https://plusone.google.com/_/+1/confirm?hl=en&url='+encodeURIComponent(location.href)+'
                                                                    &title='+encodeURIComponent(document.title),'','width='+w+',height='+h+',left='+x+',top='+y+',
                                                                    scrollbars=no');})();">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </div>
                        </div>*@
                </div>

                <div class="postreply rw">
                    <div class="col-sm-7">
                        <div class="whoseethis">
                            <input id="chkEmailMe" class="checkbox-custom" name="chkEmailMe" type="checkbox" checked="checked">
                            <label for="chkEmailMe" class="checkbox-custom-label mrgnn"></label><span class="postreplylineht">Email me when someone posts a reply</span>
                        </div>
                    </div>

                    <div class="col-sm-4 padlftnn fltrt">
                        <div hidden>
                            @*<input type="text" id="symboll" value="@Model.StockDetail.StockSymbol" />*@
                        </div>
                        <button type="button" id="CancelHeadershareIdeaDialog" class="btn btngray fltrt" data-dismiss="modal">Cancel</button>
                        <input type="button" class="btn btnorange fltrt" name="Share" value="Share" onclick="HeaderShareIdea()">
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>

