﻿<div class="col-sm-1 headerShareIdea fltrt">
    <div id='HeadershareIdeaModal' class='modal hide fade in' data-url='@Url.Action("GetHeadershareIdea", "Home")'>
        <div id='HeadershareIdeaModalContainer'></div>
    </div>
    <a onclick="Common.btnHeaderShareIdeaClick(this)" title="Share Idea" class="cursorPtr"><img src="~/Content/web/images/ShareIdea.png" style="max-width: 30px;" /></a>
</div>
