﻿@model StockCharcha.Models.Web.StockModel

<div class="col-sm-2 paddnn">
    <div class="colbgwrp">
        <ul id="questionListing" class="questionListing">
            <li><a onclick="Settings.AddQuestion(this)" class="cursorPtr"><h4><strong>Add Question</strong></h4></a></li>
            @if (Model.HelpQuestionListModel.Count() > 0)
            {
                foreach (var item in Model.HelpQuestionListModel)
                {
                    string description = item.Description.Length > 22 ? item.Description.Substring(0, 22).ToString() : item.Description;
                    <li><a onclick="Settings.AnswerListByQuestion(this,'@item.Id')" class="cursorPtr"><div title="@item.Description">@description</div></a></li>
                }
            }

        </ul>
    </div>
</div>

<div id="answerListByQuestion">
    <div class="col-sm-10 paddnn">
        <div class="usermsgwrp">
            &nbsp;
        </div>
    </div>
</div>
