﻿<div class="col-sm-10 paddnn">
    <div class="usermsgwrp">
        <div class="helpQuestionShow messageReply" style="position:relative !important;">
            <div class="col-sm-12 paddnn">
                <div class="form-group" id="messageErrorDiv" style="color: #E63131; display: none;">
                    <label class="errorClass" id="messageErrorSpan"></label>
                </div>
                <div class="messageReplyTxt paddnn">
                    <textarea type="text" rows="1" class="form-control" id="question" placeholder="Add new question here"></textarea>
                </div>
                <div class="messageReplyBtn paddnn">
                    <button type="button" onclick="Settings.SaveAddQuestion(this)" class="btn msgRpl_btn"><i class="fa fa-send"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>