﻿@using StockCharcha.Utils
@model StockCharcha.Models.Web.StockModel

@if (Model.LoggedInUser != null)
{
    if (string.IsNullOrEmpty(Model.LoggedInUser.UserName))
    {
        <div class="tab-pad-nn  fltrt">
            <div class="divSignin">
                <button type="button" id="btnJoin" data-toggle="modal" data-target="#JoinModal" onclick="User.BtnJoin()" class="joinbtn btns">Join Now</button>
                <button type="button" id="btnSignIn" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#LoginModal" onclick="User.BtnSignIn()" class="signbtn btns">Sign In</button>
            </div>
        </div>
    }
    else
    {
        <div class="tab-pad-nn fltrt">
            <div class="divSignin">
                @if (!string.IsNullOrEmpty(Model.LoggedInUser.userImage))
                {
                <img src="@Model.LoggedInUser.userImage" alt="Image" />
                }
                else
                {
                    <img src="~/Content/web/images/blank-photo2.png" style="width: 32px;" />
                }
                <div class="usrdtl">
                    <div class="profilebg"></div>
                    Welcome <br />
                    <h5>@Model.LoggedInUser.FirstName</h5>
                </div>
                <ul class="mobsign">
                    <li><a href="@Url.RouteUrl("Dashboard")"><i class="fa fa-tachometer" aria-hidden="true"></i>Dashboard</a></li>
                    <li><a href="@Url.RouteUrl("Timeline")"><i class="fa fa-calendar-o" aria-hidden="true"></i>Timeline</a></li>
                    <li><a href="@Url.RouteUrl("UserMessages")"><i class="fa fa-envelope" aria-hidden="true"></i>Message</a></li>
                    <li><a href="@Url.RouteUrl("ViewProfile", new { username = Model.LoggedInUser.UserName })"><i class="fa fa-user"></i>My Profile</a></li>
                    <li><a href="@Url.RouteUrl("SettingsByUrl", new { url = EncryptDecryptClass.Encrypt("Defaults", true) })"><i class="fa fa-wrench" aria-hidden="true"></i>Account Settings</a></li>
                    @*<li><a href="@Url.Action("UserProfile", "Home")"><i class="fa fa-refresh" aria-hidden="true"></i>Update Profile</a></li>
                        <li><a href="@Url.Action("ChangePassword", "Home")"><i class="fa fa-unlock-alt" aria-hidden="true"></i>Change Password</a></li>
                        <li><a href="#"><i class="fa fa-info-circle" aria-hidden="true"></i>Help</a></li>*@
                    <li><a href="@Url.RouteUrl("HelpUser")"><i class="fa fa-question-circle" aria-hidden="true"></i>Help</a></li>
                    <li><a href="javascript:void(0);" onclick="User.UserLogout()"><i class="fa fa-sign-out" aria-hidden="true"></i>Signout</a></li>
                </ul>
            </div>
        </div>
    }
}
<script src="~/Content/web/bootstrap/js/bootstrap-hover-dropdown.js"></script>