﻿@using StockCharcha.Utils
@using StockCharcha.Utils.Utilities
@model List<StockCharcha.Models.Web.LikeListModel>
@{
    Guid logginUserId = WebUtil.GetSessionValue<Guid>(CommonConstants.UserIdWeb);
}
<div class="modal-dialog" role="document">
    <div class="modal-content" style="overflow: hidden;padding-bottom: 10px;">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" style="line-height: 0.8;">Likes @Model.Count()</h4>
        </div>
        <div class="modal-body">
            @foreach (var item in Model)
            {
                <div class="rw">
                    <div class="col-sm-1 padlftnn">
                        @if (!string.IsNullOrEmpty(item.UserImage))
                        {
                            <img src="@item.UserImage" alt="photo">
                        }
                        else
                        {
                            <img src="~/Content/web/images/follower.jpg" alt="photo">
                        }
                    </div>

                    <div class="col-sm-11 padlftnn">
                        <div class="tabrow">
                            <div class="col-sm-10 padlftnn"><h5><a href="@Url.RouteUrl("ViewProfile", new { username = item.Username })"> @string.Format("{0} {1}", item.Firstname, item.Lastname)</a></h5></div>
                            @if (logginUserId != item.UserId)
                            {
                                if (item.IsFollowed)
                                {
                                    <div class="col-sm-2 followbtn"><button onclick="Common.LikeListUserFollow(this)" id="@item.Username" class="userFollow btn-warning" style="border-color: #FFF;">Following</button></div>
                                }
                                else
                                {
                                    <div class="col-sm-2 followbtn"><button onclick="Common.LikeListUserFollow(this)" id="@item.Username" class="userFollow btn-primary" style="border-color: #FFF;">Follow</button></div>
                                }
                            }

                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
