﻿@*<div class="loading" align="center" id="modalSending" style="display: none;">
    <p class="loadingImage">
        <img src="~/Content/web/images/loading2.gif" />
    </p>
</div>*@
<div class="webLoading"></div>