﻿<script type="text/javascript">
    $(document).ready(function () {
        $('#email,#pwd').keypress(function (e) {
            var code = e.keyCode || e.which;
            if (code === 13)
                $("#btnLoginClick").trigger('click');
        });
        $('#emailforgotPassword').keypress(function (e) {
            var code = e.keyCode || e.which;
            if (code === 13)
                $("#restPwdclick").trigger('click');
        });
    });
</script>
<div class="modal fade" id="LoginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="headerTextLogin">Log In</h4>
            </div>
            <div class="modal-body">
                <div id="login">
                    <div class="form-group" id="loginErrorDiv" style="color: #E63131; display: none;">
                        <label class="errorClass" id="loginErrorSpan"></label>
                    </div>
                    <form role="form">
                        <div class="form-group">
                            <label for="email">Email address:</label>
                            <input type="email" class="form-control" id="email" placeholder="Email Address">
                        </div>
                        <div class="form-group">
                            <label for="pwd">Password:</label>
                            <input type="password" class="form-control" id="pwd" placeholder="Password">
                        </div>
                        @*<div class="checkbox">
                                <label><input type="checkbox"> Remember me</label>
                            </div>*@
                        <button type="button" id="btnLoginClick" onclick="User.UserLogin()" class="btn btn-default">Login</button>
                        <a id="forgotPwd" href="javascript:void(0);" onclick="User.ForgotPwd()" class="pull-right">Forgot password?</a>
                    </form>
                </div>
                <div id="forgotPassword" style="display: none;">
                    <form role="form">
                        <div class="form-group" id="forgotPasswordErrorDiv" style="color: #E63131;display: none;">
                            <label class="errorClass" id="forgotPasswordErrorSpan"></label>
                        </div>
                        <div class="form-group">
                            <label for="emailLogin">Email address</label>
                            <input type="email" class="form-control" id="emailforgotPassword" placeholder="Email address">
                        </div>

                        <input type="button" id="restPwdclick" onclick="User.ResetPassword()" class="btn btn-lg btn-default" value="Reset" tabindex="4" />
                        <a id="btnBack" href="javascript:void(0);" onclick="User.BtnBack()">Back</a>
                        <div hidden>
                            <button type="button" id="CloseLoginModal" class="btn btn-default" data-dismiss="modal" hidden>Close</button>
                        </div>
                    </form>
                </div>
            </div>
            @*<div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>*@
        </div>
    </div>
</div>
