﻿@model StockCharcha.Models.Web.StockModel
@using StockCharcha.Utils
@using StockCharcha.Utils.Utilities

<div class="curve"></div>
@if (Model.StockDetail.StockSymbol != null)
{
    <div class="stocksList">
        @{
    string StockName = Model.StockDetail.StockName.Length > 30 ? string.Format("{0}...", Model.StockDetail.StockName.Substring(0, 30)) : Model.StockDetail.StockName;
        }
        <span>@Model.StockDetail.StockSymbol | @StockName</span>
        @if (Model.IsWatch == false)
        {
            <div class="addStockPlus">
                <a href="javascript:void(0)" onclick="Common.WatchListAddMenu('@Model.StockDetail.StockSymbol','@Model.StockDetail.Exchange')" class="addwatchlist"><i class="fa fa-plus"></i></a>
            </div>
        }
    </div>

    <div class="trendRw" style="background:#E2E2E2;">
        @{
    string className = !string.IsNullOrEmpty(Model.StockDetail.StockUpDown) ? Convert.ToDecimal(Model.StockDetail.StockUpDown) < 0 ? "LowPrise" : "UpPrise" : string.Empty;
        }
        <div class="leftbar">
            <div class="lftrw">
                <div style="padding-left:5px;">
                    <span class="fltlft">@Model.StockDetail.StockRate</span>
                    <i class="@className"></i>
                    <span class="fltlft">
                        @string.Format("{0} ({1}%)", Model.StockDetail.StockUpDown.Replace('+', ' ').Replace('-', ' ').Trim(), Model.StockDetail.StockRatePercentage)
                    </span>
                </div>
            </div>
        </div>
        <div class="rightbar">
            @foreach (var item in Model.ConsensusChartModel)
            {
                if (item.TrendInSight == 0)
                {
                    <span class="label-StrongBuy">Strong Buy</span>
                }
                else if (item.TrendInSight == 1)
                {
                    <span class="label-Buy">Buy</span>
                }
                else if (item.TrendInSight == 2)
                {
                    <span class="label-Hold">Hold</span>
                }
                else if (item.TrendInSight == 3)
                {
                    <span class="label-Sell">Sell</span>
                }
                else if (item.TrendInSight == 4)
                {
                    <span class="label-StrongSell">Strong Sell</span>
                }
            }
        </div>
    </div>
    @*<div class="trendRw padbtn10">
            <div class="marginauto">
                <a href="javascript:void(0)" onclick="Common.WatchListAddMenu('@Model.StockDetail.StockSymbol','@Model.StockDetail.Exchange')" class="addwatchlist" style="width:251px !important;">ADD TO WATCHLIST</a>
            </div>
        </div>*@
}
else
{
    <div class="col-sm-6">
        <h3>Not Listed.</h3>
    </div>
}
