﻿@model StockCharcha.Models.Web.StockModel

<div class="hdrbox widthauto">
    @if (Model.NseStockDetail != null)
    {
        if (Model.NseStockDetail.StockSymbol != null)
        {
            string symbol = string.Format("{0},{1}", "NIFTY", "NSE");
            <div class="hdrw widthauto">
                @*<a onclick="Common.SymbolMenu('@symbol')" class="cursorPtr" id="@symbol">*@
                <a href="/symbol/NIFTY" class=" cursorptr" id="NIFTY">
                    NIFTY &nbsp;&nbsp;
                    @{
            string classNameTxt = !string.IsNullOrEmpty(Model.NseStockDetail.StockUpDown) ? Convert.ToDecimal(Model.NseStockDetail.StockUpDown) < 0 ? "redtxt" : "greentxt" : string.Empty;
                    }
                    <span class="@classNameTxt">
                        @Model.NseStockDetail.StockRate
                        @{
            string className = !string.IsNullOrEmpty(Model.NseStockDetail.StockUpDown) ? Convert.ToDecimal(Model.NseStockDetail.StockUpDown) < 0 ? "redarrow" : "greenarrow" : string.Empty;
                        }
                        <div class="@className"></div>
                        @string.Format("{0}", Model.NseStockDetail.StockUpDown.Replace('+', ' ').Replace('-', ' '))
                    </span>
                </a>
            </div>
        }
        else
        {
            @*<div class="col-sm-3">
                    <h3>Not Listed.</h3>
                </div>*@
        }
    }
    @if (Model.BseStockDetail != null)
    {
        if (Model.BseStockDetail != null)
        {
            string symbolBse = string.Format("{0},{1}", "SENSEX", "BSE");
            <div class="hdrw widthauto">
                @*<a onclick="Common.SymbolMenu('@symbolBse')" class="cursorPtr" id="@symbolBse">*@
                <a href="/symbol/SENSEX" class=" cursorptr" id="SENSEX">
                    SENSEX &nbsp;&nbsp;
                    @{
            string classNameTxt = !string.IsNullOrEmpty(Model.BseStockDetail.StockUpDown) ? Convert.ToDecimal(Model.BseStockDetail.StockUpDown) < 0 ? "redtxt" : "greentxt" : string.Empty;
                    }
                    <span class="@classNameTxt">
                        @Model.BseStockDetail.StockRate
                        @{
            string className = !string.IsNullOrEmpty(Model.BseStockDetail.StockUpDown) ? Convert.ToDecimal(Model.BseStockDetail.StockUpDown) < 0 ? "redarrow" : "greenarrow" : string.Empty;
                        }
                        <div class="@className"></div>
                        @*@string.Format("{0}({1}%)", Model.BseStockDetail.StockUpDown, Model.BseStockDetail.StockRatePercentage)*@
                        @string.Format("{0}", string.IsNullOrEmpty(Model.BseStockDetail.StockUpDown) ? "" : Model.BseStockDetail.StockUpDown.Replace('+', ' ').Replace('-', ' '))
                    </span>
                </a>
            </div>

        }
        else
        {
            @*<div class="col-sm-3">
                    <h3>Not Listed.</h3>
                </div>*@
        }
    }
</div>
