﻿@model StockCharcha.Models.Web.StockModel
<div class="modal fade" id="MessageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="headerTextLogin">Send message to @Model.RegistrationModel.UserName</h4>
            </div>
            <div class="modal-body">
                <div id="message">
                    <div class="form-group" id="messageErrorDiv" style="color: #E63131; display: none;">
                        <label class="errorClass" id="messageErrorSpan"></label>
                    </div>
                    <form role="form">
                        <div class="form-group">
                            <label for="userMessage">Message:</label>
                            <textarea type="text" rows="8" class="form-control" id="userMessage" placeholder="Type message here"></textarea>
                        </div>
                        <button type="button" onclick="User.SendProfileMessage()" class="btn btn-default">Send</button>
                        <div hidden>
                            <button type="button" id="CloseMessageModal" class="btn btn-default" data-dismiss="modal" hidden>Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>