﻿@using StockCharcha.Utils
@using StockCharcha.Utils.Utilities
@model StockCharcha.Models.Web.StockModel

<script type="text/javascript">
    $(document).ready(function () {
        $('.recentClick').click(function (evt) {
            evt.preventDefault();
            Common.SymbolMenu($(this).attr('id'));
        });
    });
</script>

@if (WebUtil.GetSessionValue<Guid>(CommonConstants.UserIdWeb) != Guid.Empty)
{
    <div class="block">
        <div class="recentView">
            <strong>RECENTLY VIEWED</strong>
        </div>
        @if (Model.UserRecentlyViewedList.Count > 0)
        {
            <ul class="recentViewList">
                @foreach (var item in Model.UserRecentlyViewedList)
                {
                    <li>
                        @{string symbol = string.Format("{0},{1}", item.Symbol, item.Exchange);}
                        @*<a href="javascript:void(0);" class="recentClick" id="@symbol">@item.Symbol</a>*@
                        <a href="/symbol/@item.Symbol" id="@item.Symbol">@item.Symbol</a>
                    </li>
                }
            </ul>
        }
        else
        {
            <div class="rw ">
                No Recently Viewed Available.
            </div>
        }




        <div class="userview">
            @if (Model.RecentlyViewedUserList.Count > 0)
            {
                <ul class="recentViewList">
                    @foreach (var item in Model.RecentlyViewedUserList)
                    {
                        <li>
                            <a href="@Url.RouteUrl("ViewProfile", new { username = item.Username })">@item.Username</a>
                        </li>
                    }
                </ul>
            }
            else
            {
                <div class="rw ">
                    No Recently Viewed Users Available.
                </div>
            }
        </div>
        <div class="clear"></div>
    </div>
}
