﻿@model StockCharcha.Models.Web.StockModel
<script type="text/javascript">
    $(document).ready(function () {
        $('#UserName,#Email,#Password,#ConfirmPassword').keypress(function (e) {
            var code = e.keyCode || e.which;
            if (code === 13)
                $("#btnRegister").trigger('click');
        });
    });
</script>
<div class="modal fade" id="JoinModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Join Now</h4>
            </div>
            <div class="modal-body">
                <div class="form-group" id="registerErrorDiv" style="color: #E63131;display: none;">
                    <label class="errorClass" id="registerErrorSpan"></label>
                </div>
                @*<div id="signupSuccess" style="display: none;">
                        <form role="form" id="accountVarification">
                            <div class="form-group" id="accountVarificationErrorDiv" style="display: none;">
                                <label class="errorClass" id="accountVarificationErrorSpan"></label>
                            </div>
                            <h3><b>Thank you for signing up!</b></h3>
                            <p>Check your inbox for a email verification from Stock Charcha.</p>
                            <div class="form-group">
                                <label for="activationCode">Code</label>
                                <input type="text" class="form-control" id="activationCode" placeholder="Activation Code" tabindex="0">
                            </div>
                            <div class="foot-popup clearfix">
                                <input type="button" class="btn btn-lg btn-submit pull-right" value="Submit" onclick="User.Activate()" tabindex="1" />
                            </div>
                        </form>
                    </div>*@
                <div id="signup">
                    @using (Html.BeginForm("Registration", "Home", FormMethod.Post, new { @id = "frmRegister", role = "form" }))
                    {
                        <div class="form-group">
                            @Html.LabelFor(model => model.RegistrationModel.FirstName)
                            @Html.TextBoxFor(model => model.RegistrationModel.FirstName, new { @id = "FirstName", @class = "form-control", @placeholder = "First Name" })
                            @Html.ValidationMessageFor(model => model.RegistrationModel.FirstName, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.RegistrationModel.LastName)
                            @Html.TextBoxFor(model => model.RegistrationModel.LastName, new { @id = "LastName", @class = "form-control", @placeholder = "Last Name" })
                            @Html.ValidationMessageFor(model => model.RegistrationModel.LastName, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.RegistrationModel.UserName)
                            @Html.TextBoxFor(model => model.RegistrationModel.UserName, new { @id = "UserName", @class = "form-control", @placeholder = "User Name" })
                            @Html.ValidationMessageFor(model => model.RegistrationModel.UserName, "", new { @class = "text-danger" })
                            @Html.ValidationMessage("checkUser", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.RegistrationModel.Email)
                            @Html.TextBoxFor(model => model.RegistrationModel.Email, new { @id = "Email", @class = "form-control", @placeholder = "Email Address" })
                            @Html.ValidationMessageFor(model => model.RegistrationModel.Email, "", new { @class = "text-danger" })
                            @Html.ValidationMessage("checkEmail", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.RegistrationModel.Password)
                            @Html.PasswordFor(model => model.RegistrationModel.Password, new { @id = "Password", @class = "form-control", @placeholder = "Password" })
                            @Html.ValidationMessageFor(model => model.RegistrationModel.Password, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.RegistrationModel.ConfirmPassword)
                            @Html.PasswordFor(model => model.RegistrationModel.ConfirmPassword, new { @id = "ConfirmPassword", @class = "form-control", @placeholder = "Confirm Password" })
                            @Html.ValidationMessageFor(model => model.RegistrationModel.ConfirmPassword, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <button type="button" id="btnRegister" onclick="User.UserRegister()" class="btn btn-default">Register</button>
                            <div hidden>
                                <button type="button" id="CloseRegistrationModal" class="btn btn-default" data-dismiss="modal" hidden>Close</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
            @*<div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>*@
        </div>
    </div>
</div>