﻿@model StockCharcha.DataAccess.ReportUser

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title headerShareIdeaModel">Report User</h4>
        </div>
        <div class="modal-body">
            <div id="reportUser">
                <div class="form-group" id="reportUserErrorDiv" style="color: #E63131; display: none;">
                    <label class="errorClass" id="reportUserErrorSpan"></label>
                </div>
                <form role="form">
                    <div class="form-group">
                        <textarea type="text" rows="5" class="form-control" id="reportUserComment" placeholder="Type comment here"></textarea>
                    </div>
                    <button type="button" onclick="User.ReportUser('@Model.ToUser')" class="btn btn-default">Submit</button>
                    <div hidden>
                        <button type="button" id="CloseReportUserModal" class="btn btn-default" data-dismiss="modal" hidden>Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>