﻿@model StockCharcha.Models.Web.ReshareModel

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="headerTextLogin">Share to your followers</h4>
        </div>
        <div class="modal-body">
            <div id="blogReshare">
                <div class="form-group" id="reshareErrorDiv" style="color: #E63131; display: none;">
                    <label class="errorClass" id="reshareErrorSpan"></label>
                </div>
                <form role="form">
                    <div class="form-group">
                        <textarea type="text" rows="2" class="form-control" id="reshareDescription"></textarea>
                    </div>
                    <button type="button" onclick="Common.ReShareIdea()" class="btn btn-default">Share</button>
                    <div hidden>
                        <input type="text" id="blogId" value="@Model.BlogId" />

                    </div><button type="button" id="CloseReshareDialog" class="btn btn-default" data-dismiss="modal" hidden>Close</button>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <div class="pull-left col-sm-8">
                <div class="tabwrp">
                    @if (!string.IsNullOrEmpty(Model.ShareIdeaModel.TrendInSights) && Model.ShareIdeaModel.TrendInSights != "-1")
                    {
                        <div class="@Model.ShareIdeaModel.TrendInSightsColor stripShareIdea" style="height: 36px;"></div>
                    }
                    <div class="col-sm-2 photowrp padlftnn">
                        @if (!string.IsNullOrEmpty(Model.ShareIdeaModel.Image))
                        {
                            <a href="@Url.RouteUrl("ViewProfile", new { username = Model.ShareIdeaModel.UserName })" target="_blank">
                                <img src="@Model.ShareIdeaModel.Image" alt="Image" />
                            </a>
                        }
                        else
                        {
                            <img src="~/Content/web/images/blank-photo2.png" alt="photo">
                        }
                    </div>
                    <div class="col-sm-10 paddnn">
                        <div class="tabrow">
                            <div class="namettl" style="width: 0px;">
                                <a href="@Url.RouteUrl("ViewProfile", new { username = Model.ShareIdeaModel.UserName })" target="_blank">@Model.ShareIdeaModel.UserName</a>
                            </div>
                        </div>
                        <div class="tabrow">
                            <p>
                                @Html.Raw(Model.ShareIdeaModel.Description)
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
