﻿@model  StockCharcha.Models.Web.StockModel
<script src="~/Content/admin/bootstrap/js/jquery.bootpag.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        Paging(@ViewBag.NumberOfPages,@ViewBag.CurrentPage,"Home");
        function Paging(NumberOfPages, CurrentPage, ControllerName) {
            $('.paging').bootpag({
                total: NumberOfPages,
                page: CurrentPage,
                maxVisible: 10,
                leaps: true,
                firstLastUse: true,
                first: '←',
                last: '→',
                wrapClass: 'pagination',
                activeClass: 'active',
                disabledClass: 'disabled',
                nextClass: 'next',
                prevClass: 'prev',
                lastClass: 'last',
                firstClass: 'first'
            }).on('page', function (event, num) {
                var page = num;
                $.ajax({
                    url: '/' + ControllerName + '/GetSearchListByPage',
                    data: { "searchString": '@ViewBag.searchString', "page": page },
                    beforeSend: function () {
                        Common.ShowSendingProgress();
                    },
                    success: function (data) {
                        $("#searchList").html(data);
                    },
                    complete: function () {
                        Common.StopProgress();
                    }
                });
            });
        }
    });
</script>

@if (Model.symbolModelList.Count() == 0)
{
    int cnt = Model.symbolModelList.Count() + 1;
    <table class="table table-striped">
        <tr>
            <td colspan="@cnt">No Records Found.</td>
        </tr>
    </table>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Company Name</th>
                <th>Exchange Type</th>
            </tr>
        </thead>
        <tbody id="itemContainer">
            @foreach (var item in Model.symbolModelList)
            {
                string stockType = string.Empty;
                if (item.NseSymbol != null && item.NseSymbol != "")
                {
                    stockType = "NSE";
                }
                else if (item.BseSymbol != null && item.BseSymbol != "")
                {
                    stockType = "BSE";

                }
                else
                {
                    stockType = "USER";
                }
                if (stockType != "USER")
                {
                    string symbol = string.Format("{0},{1}", stockType == "NSE" ? item.NseSymbol : item.BseSymbol, stockType);
                    <tr>
                        <td><a onclick="Common.SymbolMenu('@symbol')" class="cursorPtr" id="@symbol">@item.CompanyName</a></td>
                        <td>@stockType</td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td><a href="@Url.RouteUrl("ViewProfile", new { username = item.UserName })" title="@item.UserName">@item.UserName</a></td>
                        <td>@stockType</td>
                    </tr>
                }
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3">
                    <p class="paging"></p>
                </td>
            </tr>
        </tfoot>
    </table>
}