﻿@model StockCharcha.Models.Web.StockModel

@foreach (var item in Model.ConsensusChartModel.ToArray())
{
    <div class="progressWrap">
        @if (item.TrendInSight == 0)
        {
            <div class="progRow">
                <div class="progLable">@item.TrendInSightName</div>
                <div class="progressChart">
                    <div class="progressChart-bar progressChart-bar-success" role="progressbar" aria-valuenow="@item.Percentage" aria-valuemin="0" aria-valuemax="100" style="width:@item.Percentage%">
                    </div>
                </div>
                <div class="progpercent">@item.Percentage</div>
            </div>
        }
        else if (item.TrendInSight == 1)
        {
            <div class="progRow">
                <div class="progLable">@item.TrendInSightName</div>
                <div class="progressChart">
                    <div class="progressChart-bar progressChart-bar-info" role="progressbar" aria-valuenow="@item.Percentage" aria-valuemin="0" aria-valuemax="100" style="width:@item.Percentage%">
                    </div>
                </div>
                <div class="progpercent">@item.Percentage</div>
            </div>
        }
        else if (item.TrendInSight == 2)
        {
            <div class="progRow">
                <div class="progLable">@item.TrendInSightName</div>
                <div class="progressChart">
                    <div class="progressChart-bar progressChart-bar-warning" role="progressbar" aria-valuenow="@item.Percentage" aria-valuemin="0" aria-valuemax="100" style="width:@item.Percentage%">
                    </div>
                </div>
                <div class="progpercent">@item.Percentage</div>
            </div>
        }
        else if (item.TrendInSight == 3)
        {
            <div class="progRow">
                <div class="progLable">@item.TrendInSightName</div>
                <div class="progressChart">
                    <div class="progressChart-bar progressChart-bar-Sell" role="progressbar" aria-valuenow="@item.Percentage" aria-valuemin="0" aria-valuemax="100" style="width:@item.Percentage%">
                    </div>
                </div>
                <div class="progpercent">@item.Percentage</div>
            </div>
        }
        else if (item.TrendInSight == 4)
        {
            <div class="progRow">
                <div class="progLable">@item.TrendInSightName</div>
                <div class="progressChart">
                    <div class="progressChart-bar progressChart-bar-danger" role="progressbar" aria-valuenow="@item.Percentage" aria-valuemin="0" aria-valuemax="100" style="width:@item.Percentage%">
                    </div>
                </div>
                <div class="progpercent">@item.Percentage</div>
            </div>
        }
    </div>
}
