﻿@model StockCharcha.Models.Web.StockModel
@using StockCharcha.Utils
@using StockCharcha.Utils.Utilities

<div hidden>
    @{
        string symbol = string.Empty;
        if (Model.StockDetail != null)
        {
            symbol = string.Format("{0}", Model.StockDetail.StockSymbol);
        }
    }
    <input type="text" value="@symbol" id="StockSymbol" />
    <input type="text" value="@Model.StockDetail.StockName" id="StockSymbolName" />
</div>
<div id="stockTicker" class="watchlistWrp">
    @Html.Partial("_StockTicker", Model)
</div>