﻿@model StockCharcha.Models.Web.StockModel

<script type="text/javascript">
    $(document).ready(function () {
        userImageUpload();
    });
    function userImageUpload() {
        $('#userFile').on('change', function (e) {
            Common.ShowSendingProgress();
            var files = e.target.files;
            if (files.length > 0) {
                if (window.FormData !== undefined) {
                    var data = new FormData();
                    for (var x = 0; x < files.length; x++) {
                        data.append("file" + x, files[x]);
                    }
                    $.ajax({
                        type: "POST",
                        url: '/Home/UploadUserImage?userId=' + $("#userId").val(),
                        contentType: false,
                        processData: false,
                        data: data,
                        success: function (result) {
                            if (result.IsSuccess) {
                                $("#userImagesrc").attr('src', '');
                                //var url = '/Home/ShowImage?id=' + $("#registrationId").val();
                                $("#userImagesrc").attr('src', result.userImage);
                                $('#userFile').replaceWith($("#userFile").clone(true));
                                Common.ShowSuccess(result.html, true);
                                window.location.reload();
                            } else {
                                alert(result.html);
                            }
                        },
                        complete: function () {
                            Common.StopProgress();
                        },
                        error: function (xhr, status, p3, p4) {
                            var err = "Error " + " " + status + " " + p3 + " " + p4;
                            if (xhr.responseText && xhr.responseText[0] == "{")
                                err = JSON.parse(xhr.responseText).Message;
                            console.log(err);
                        }
                    });
                } else {
                    alert("This browser doesn't support HTML5 file uploads!");
                }
            }
        });
    }
</script>

<div class="col-sm-10 paddnn chatUsersbg">
    <div class="col-sm-12 paddnn">
        <div class="usermsgwrp">

            <div class="col-sm-9">
                @*@using (Html.BeginForm("UpdateUserProfile", "Home", FormMethod.Post, new { id = "frmUpdateUser", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
                @Html.HiddenFor(model => model.RegistrationModel.Id, new { @id = "registrationIdUpdateProfile" })
                @Html.HiddenFor(x => x.RegistrationModel.UserId, new { @id = "userIdUpdateProfile" })

                <div class="form-group" id="updateUserErrorDiv" style="color: #E63131; display: none;">
                    <div class="col-md-offset-2 col-md-10">
                        <label class="errorClass" id="updateUserErrorSpan"></label>
                    </div>
                </div>
                <div class="rw">
                    <label>First Name<span style="color:red;">*</span></label>
                    <div class="inputLabel">
                        @Html.TextBoxFor(model => model.RegistrationModel.FirstName, new { @id = "FirstNameUpdateProfile", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.RegistrationModel.FirstName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="rw">
                    <label>Last Name<span style="color:red;">*</span></label>
                    <div class="inputLabel">
                        @Html.TextBoxFor(model => model.RegistrationModel.LastName, new { @id = "LastNameUpdateProfile", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.RegistrationModel.LastName, "", new { @class = "text-danger" })
                        @Html.ValidationMessage("checkUser", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="rw">
                    <label>Email Address<span style="color:red;">*</span></label>
                    <div class="inputLabel">
                        @Html.TextBoxFor(model => model.RegistrationModel.Email, new { @id = "EmailUpdateProfile", @class = "form-control" })
                    </div>
                </div>
                <div class="rw">
                    <label>User Name</label>
                    <div class="inputLabel">
                        @Html.TextBoxFor(model => model.RegistrationModel.UserName, new { @id = "UserNameUpdateProfile", @class = "form-control", @disabled = "disabled" })
                        @Html.ValidationMessageFor(model => model.RegistrationModel.UserName, "", new { @class = "text-danger" })
                        @Html.ValidationMessage("checkUser", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="rw">
                    <label>User Tag<span style="color:red;">*</span></label>
                    <div class="inputLabel">
                        <div class="input-group">
                            <span class="input-group-addon">@@</span>
                            @Html.TextBoxFor(model => model.RegistrationModel.UserTag, new { @id = "UserTagUpdateProfile", @class = "form-control", @style = "width: 60%;" })
                        </div>
                        @Html.ValidationMessageFor(model => model.RegistrationModel.UserTag, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="rw" hidden>
                    <label>Mobile</label>
                    <div class="inputLabel">
                        <input type="tel" id="MobileUpdateProfile" class="form-control" placeholder="" style="width: 62%;">
                    </div>
                </div>

                <div class="rw">
                    <label>Description</label>
                    <div class="inputLabel">
                        @Html.TextAreaFor(model => model.RegistrationModel.Description, new { @id = "DescriptionUpdateProfile", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.RegistrationModel.Description, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="rw" hidden>
                    <label>Website</label>
                    <div class="inputLabel">
                        @Html.TextBoxFor(model => model.RegistrationModel.Website, new { @id = "WebsiteUpdateProfile", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.RegistrationModel.Website, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="rw">
                    <input type="button" onclick="User.UpdateUserClick()" value="Update" class="btn btn-default" />
                </div>
                @*}*@
            </div>
            <div class="col-sm-3">
                <div class="profphoto">
                    @if (!string.IsNullOrEmpty(Model.RegistrationModel.userImage))
                    {
                        <img src="@Model.RegistrationModel.userImage" alt="Image" id="userImagesrc" />
                    }
                    else
                    {
                        <img src="~/Content/web/images/blank-photo2.png" style="width: 100px;" />
                    }
                </div>
                
                <div class="rw">
                    <div id='uploadImageModal' class='modal hide fade in' data-url='@Url.Action("GetUploadImageDialog", "Home")'>
                        <div id='uploadImageContainer'></div>
                    </div>
                    <div class="posiRel" style="height: 31px;">
                        <div class="browsfile">
                            <a onclick="Common.UploadImageClick(this)" class="btn btn-green"><i class="fa fa-upload"></i>&nbsp; Upload Picture</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        var UsrTagUpdateProfile = "@Model.RegistrationModel.UserTag";
        if (UsrTagUpdateProfile != "") {
            $("#UserTagUpdateProfile").prop("disabled", true);
        }
    });
</script>
