﻿@model StockCharcha.Models.Web.StockModel
@using StockCharcha.Utils;

<div class="col-sm-10 padding-lft-nn tabwidth usrprof">
    <div class="block2">
        <div class="rw">
            <h3>@Model.RegistrationModel.Title</h3>
        </div>
        @foreach (var item in Model.ProfileListModel)
        {
            <div class="tabwrp follow">
                <div class="col-sm-1 photowrp padlftnn">
                    @if (!string.IsNullOrEmpty(item.userImage))
                    {
                        <img src="@item.userImage" alt="photo">
                    }
                    else
                    {
                        <img src="~/Content/web/images/follower.jpg" alt="photo">
                    }
                </div>

                <div class="col-sm-11 paddnn">
                    <div class="tabrow">
                        <div class="col-sm-10 padlftnn"><h4><a href="@Url.RouteUrl("ViewProfile", new { username = item.UserName })"> @item.UserName</a></h4></div>
                        @if (Model.RegistrationModel.Title == CommonConstants.Following)
                        {
                            <div class="col-sm-2 followbtn"><button onclick="Blog.UserFollowList()" id="@item.UserName" class="userFollow btn btn-info">Unfollow</button></div>
                        }

                    </div>
                    <div class="tabrow">
                        <p>@item.Description</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

