﻿@using StockCharcha.Utils
@using StockCharcha.Utils.Utilities
@model StockCharcha.Models.Web.StockModel

<script type="text/javascript">
    $(document).ready(function () {
        function watchListAutocomplete() {
            var NSE_BSE = "null";
            $("#watchList").autocomplete({
                source: function (request, response) {
                    // Get value of explore text (trim, replace multi space to single space, convert to lower string)  //.replace(/\s+/g, '-')
                    var searchtext = request.term.trim().replace(/\s{2,}/g, ' ')
                                                                            .replace(/&/g, "&amp;").replace(/</g, "&lt;").replace(/>/g, "&gt;")
                                                                            .toLowerCase();


                    /*if (pathname.indexOf('NSE') > 0 || pathname.indexOf('BSE') > 0) {
                        if (pathname.indexOf('NSE') > 0) { NSE_BSE = "null"; }//"NSE"; }
                        else if (pathname.indexOf('NSE') > 0) { NSE_BSE = "null"; }//"BSE"; }
                        else { NSE_BSE = "null"; }
                    }
                    else { NSE_BSE = "null"; }*/

                    if (searchtext.length >= 2) {
                        $.ajax({
                            type: "get",
                            url: "/Home/WatchList?searchText=" + searchtext + "&type=" + NSE_BSE,
                            contentType: "application/json",
                            beforeSend: function () {
                                //$(".glyphicon-search-refresh").addClass("glyphicon-refresh");
                            },
                            complete: function () {
                                //$(".glyphicon-search-refresh").removeClass("glyphicon-refresh");
                            },
                            success: function (data) {
                                response(data);
                            }
                        }).done(function (result) {
                            if (result == null || result === "") {
                                // If result null, then auto clear auto complete list
                                $('#ui-id-1').html('');
                            }
                        });
                    }

                },
                messages: {
                    noResults: "",
                    results: function () { }
                },
                focus: function (event, ui) {
                    // Set value in text box
                    //$("#watchList").val(ui.item.CompanyName);
                    return false;
                },
                select: function (event, ui) {
                    var nseSymbol = ui.item.NseSymbol;
                    var bseSymbol = ui.item.BseSymbol;
                    if (nseSymbol !== "" && nseSymbol !== "null") {
                        StockDetail.WatchListAdd(nseSymbol, NSE_BSE + ",NSE");
                    }
                    else if (bseSymbol !== "" && bseSymbol !== "null") {
                        StockDetail.WatchListAdd(bseSymbol, NSE_BSE + ",BSE");
                    }
                    Common.StopProgress();
                    return false;
                },
                open: function () {
                    $(this).removeClass("ui-corner-all").addClass("ui-corner-top");
                },
                close: function () {
                    $(this).removeClass("ui-corner-top").addClass("ui-corner-all");
                }
            }).autocomplete("instance")._renderItem = function (ul, item) {
                var link = "";
                if (item.NseSymbol !== null && item.NseSymbol !== "") {
                    link = item.CompanyName;
                } else {
                    link = item.CompanyName;
                }

                return $("<li class='ui-menu-item-explore' style='width:270px;font-size: 12px;' tabindex='-1'>")
                    .append("<a href ='javascript:void(0);'>" + link + "</a>")
                    .append("</li>")
                    .appendTo(ul);
            };

        }
        watchListAutocomplete();
        $('.watchClick').click(function (evt) {
            evt.preventDefault();
            Common.SymbolMenu($(this).attr('id'));
        });
    });
</script>

@{
    Guid userId = Guid.Empty;
    if (@ViewBag.userId != null)
    {
        userId = new Guid(Convert.ToString(@ViewBag.userId));
    }
    Guid logginUserId = WebUtil.GetSessionValue<Guid>(CommonConstants.UserIdWeb);
}

@if (logginUserId != Guid.Empty)
{
    <div class="block overflwparent">
        <div class="watchlist" id="watchInput" style="display: none;">
            <div class="serchwatchlist">
                <a href="javascript:void(0)" class="positionRel" onclick="StockDetail.watchListBlockclose()"><i class="fa fa-close"></i></a>
                <input type="text" id="watchList" class="form-control" placeholder="Add a stock to watchlist" />
            </div>
        </div>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td width="58%" height="35"><strong>WATCHLIST</strong></td>
                <td width="42%" align="right">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td width="60%" align="right" valign="middle">
                                <a href="javascript:void(0)" onclick="StockDetail.watchListBlockAdd()">
                                    <img src="~/Content/web/images/icon-plus.jpg" alt="image">
                                </a>
                            </td>
                            <td width="40%" align="right" valign="middle">
                                @if (logginUserId == userId)
                                {
                                    @*<a href="@Url.RouteUrl("ProfileWatchList")" target="_blank">
                                            <img src="~/Content/web/images/icon-align.jpg" alt="image">
                                        </a>*@
                                    <a href="@Url.RouteUrl("SettingsByUrl", new { url = EncryptDecryptClass.Encrypt("watchlists", true) })">
                                        <img src="~/Content/web/images/icon-align.jpg" alt="image">
                                    </a>
                                }
                                else
                                {
                                    <a href="javascript:void(0)" target="_blank">
                                        <img src="~/Content/web/images/icon-align.jpg" alt="image">
                                    </a>
                                }

                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td height="" colspan="2" align="left" valign="middle"><hr></td>
            </tr>
        </table>
        @if (Model.WatchListModel.Count > 0)
        {
            <div class="content">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    @foreach (var item in Model.WatchListModel)
                    {
                        //string symbol = string.Format("{0},{1}", item.StockSymbol, item.Exchange);
                        <tr>
                            <td align="left" valign="middle" style="width: 60%;">
                                @*<a href="javascript:void(0);" class="watchClick" id="@symbol">*@
                                <a href="/symbol/@item.StockSymbol" id="@item.StockSymbol">
                                    <strong>@item.StockSymbol</strong>
                                </a>
                                <br>
                                @item.CompanyName
                            </td>
                            <td align="right" class="font14" style="width: 40%;font-size: 11px;">
                                <strong>@item.StockRate</strong>
                                @{string nseeClassName = Convert.ToDecimal(item.StockUpDown) < 0 ? "fa fa-caret-down fong20 downtxt" : "fa fa-caret-up fong20 uptxt";}
                                <i class="@nseeClassName"></i><br>
                                @{string stockClassName = Convert.ToDecimal(item.StockUpDown) < 0 ? "downtxt" : "uptxt";}
                                <div class="@stockClassName">
                                    @string.Format("{0} ({1}%)", @item.StockUpDown.Replace('+', ' ').Replace('-', ' ').Trim(), @item.StockRatePercentage)
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td height="" colspan="2" align="left" valign="middle"><hr></td>
                        </tr>

                    }
                </table>
            </div>
        }
        else
        {
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td>No Watch List Found.</td>
                </tr>
            </table>
        }

    </div>

}