﻿@model StockCharcha.Models.Web.StockModel
@using StockCharcha.Utils
@using StockCharcha.Utils.Utilities

<div id="btnAddToWatchList">
    @if (WebUtil.GetSessionValue<Guid>(CommonConstants.UserIdWeb) != Guid.Empty)
    {
        if (!Model.IsWatch)
        {
            string exchange = string.Format("{0},{1}", "null", @Model.StockDetail.Exchange);
            <a href="javascript:void(0)" onclick="StockDetail.WatchListAdd('@Model.StockDetail.StockSymbol','@exchange')" class="btnwatchlist2" id="addwatch">ADD TO WATCHLIST</a>
        }
        else
        {
            <a href="javascript:void(0)" onclick="StockDetail.IsWatch('@Model.StockDetail.StockSymbol',' @Model.StockDetail.Exchange','true')" class="btnwatchlist2" id="removeWatch">UNWATCH</a>
        }

        @*<div class="follower">
            @Model.WatchListCount Followers
        </div>*@
    }
</div>

