﻿@model StockCharcha.Models.Web.StockModel

@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    ViewBag.Title = "Stock Charcha";
}

<link href="~/Content/web/css/loading.css" rel="stylesheet" />
<script src="~/Scripts/Shared/Common.js"></script>
<script src="~/Scripts/Shared/User.js"></script>

@section RegisterAndLogin{
    <div id="LoggedInUser">
        @Html.Partial("_JoinSignIn", Model)
    </div>

    @Html.Partial("_Register", Model)
    @Html.Partial("_Login")


}

@section Search{
    @Html.Partial("_HeaderSearch")
}

@section Menu{
    @Html.Partial("_Menu", Model)
}

@section HomeBody{
    <div class="gridContainer clearfix ">
        <div id="LayoutDiv1" class="banner" style="min-height:430px">
            <div class="col-sm-5">
                <h3>Comming Soon...</h3>
            </div>

        </div>
    </div>
}
@Html.Partial("_Loading")
