﻿@{
    Layout = null;
}
<html class="">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Stock Charcha</title>
    <link href="~/Content/web/css/boilerplate.css" rel="stylesheet" />
    <link href="~/Content/web/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/web/css/style.css" rel="stylesheet" />
    <link href="~/Content/web/css/font-awesome.css" rel="stylesheet" />

    <script src="~/Scripts/respond.min.js"></script>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <link href="~/Scripts/Web/Autocomplete/jquery-ui.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.loadTemplate-1.4.0.js"></script>
    <script src="~/Scripts/Shared/Common.js"></script>
    <script src="~/Scripts/Shared/User.js"></script>


</head>
<body class="pagebg">
    <div class="activepage">
        <div class="loginrw logo">
            <img src="~/Content/web/images/logo.png" alt="Stock Charcha">
        </div>
        <div class="loginrw">
            <h3>Activation</h3>
        </div>
        <div class="loginrw">
            <div class="form-group" id="accountVarificationErrorDiv" style="display: none;color: red;">
                <label class="errorClass" id="accountVarificationErrorSpan"></label>
            </div>
        </div>
        <div class="loginrw">
            <input type="text" class="form-control" id="txtEmailActivate" placeholder="Email">
        </div>
        @*<div class="loginrw">
                <input name="txtPassword" id="txtPassword" tabindex="2" title="Password" class="form-control" placeholder="Password" type="password">
            </div>*@
        <div class="loginrw">
            <input type="text" class="form-control" id="activationCode" placeholder="Activation Code">
        </div>

        <div class="loginrw">
            <input name="BtnActivate" value="Activate" onclick="User.Activate()" class="btn btn-primary " type="button">
        </div>
    </div>

</body>
</html>