﻿@model StockCharcha.Models.Web.StockModel
@{
    ViewBag.Title = "Messages";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<link href="~/Content/web/css/style-settingpage.css" rel="stylesheet" />
@Scripts.Render("~/bundles/DetailCustomJs")
<script src="~/Scripts/Web/Settings.js"></script>


<body class="inrbg">
    @section RegisterAndLogin{
        <div id="LoggedInUser">@Html.Partial("_JoinSignIn", Model)</div>
        @Html.Partial("_Register", Model)
        @Html.Partial("_Login")
    }

    @section Search{
        @Html.Partial("_HeaderSearch")
    }
    @section HeaderShareIdea{
        @Html.Partial("_HeaderShareIdeaLink")
    }
    @section Menu{
        @Html.Partial("_Menu", Model)
    }

    @section HomeBody{
        <div class="gridContainer clearfix ">
            <div id="LayoutDiv1" class="mrgntpbtm">
                <div class="content">
                    <div class="col-sm-12 settingTitle"><i class="fa fa-question-circle"></i> Help</div>
                    <div id="questionList">
                        @Html.Partial("_HelpQuestion", Model)
                    </div>

                </div>
            </div>
        </div>
    }
    @section Footer{
        @Html.Partial("_Footer")
    }
</body>
@Html.Partial("_AlertMessage")
@Html.Partial("_Loading")
