﻿@model StockCharcha.Models.Web.StockModel

@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    ViewBag.Title = "Stock Charcha";
}

@Scripts.Render("~/bundles/CommonCustomJs")

@section RegisterAndLogin{
    <div id="LoggedInUser">
        @Html.Partial("_JoinSignIn", Model)
    </div>

    @Html.Partial("_Register", Model)
    @Html.Partial("_Login")
}

@section Menu{
    @Html.Partial("_Menu", Model)
}

@section HeaderShareIdea{
    @Html.Partial("_HeaderShareIdeaLink")
}

@section Search{
    @Html.Partial("_HeaderSearch")
}
@section HomeBody{
    <div class="gridContainer clearfix ">
        <div id="LayoutDiv1" class="banner">
            <div class="col-sm-5 scroll">
                <h3>Find out what real investors and traders are saying about your stocks right now!</h3>
                <div class="divSignin fltlft">
                    <button type="button" id="btnJoin" data-toggle="modal" data-target="#JoinModal" onclick="User.BtnJoin()" class="joinbtn btns">Join Now</button>
                </div>
            </div>
            <div class="col-sm-7 scroll">
                <div class="bannerSlider">
                    <div class="scrolImg">
                        @Html.Partial("_LandingPageSlider")
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="gridContainer clearfix ">
        <div id="LayoutDiv1">
            <div class="col-sm-12 ttl mrgntpbtm">A SOCIAL NETWORK | FOR INVESTORS AND TRADERS</div>
            <div class="wrpa">
                <div class="col-sm-7 mrgntpbtm">
                    <div class="fluid-container">
                        <h3>
                            <span>
                                <img src="~/Content/web/images/icon-realtime.jpg" />

                            </span>
                            REAL TIME INSIGHT
                        </h3>
                        <p>Gain real time insight into stocks you own and see which stocks are being talked by the StockCharcha community.</p>
                    </div>

                    <div class="fluid-container">
                        <h3>
                            <span>
                                <img src="~/Content/web/images/icon-collaborate.jpg" />
                            </span>
                            COLLABORATE & SHARE
                        </h3>
                        <p>Connect with fellow investors and traders to discuss strategies for your next trade.</p>
                    </div>

                    <div class="fluid-container">
                        <h3>
                            <span>
                                <img src="~/Content/web/images/icon-gauge.jpg" />
                            </span>
                            REAL TIME SENTIMENT
                        </h3>
                        <p>Find out whether the StockCharcha community believes the stock you follow is a buy, hold, or a sell. </p>
                    </div>
                </div>
                <div class="col-sm-5 mrgntpbtm">
                    <img src="~/Content/web/images/img-video.jpg" />
                </div>
            </div>
        </div>
    </div>

    <div class="gridContainer clearfix ">
        <div id="LayoutDiv1">
            <div class="col-sm-12 ttl mrgntpbtm"><strong>WHAT |</strong> OUR COMMUNITY IS SAYING</div>
            <div class="wrpa">
                <div class="col-sm-4">
                    <div class="widget-container">
                        <div class="colttl">
                            <h3>Rob Peter</h3>
                            <p>Marketing Expert, FORBES</p>
                        </div>
                        <p>
                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eufugiat nulla pariatur
                            sint occaecat cupidatat. voluptate velit esse cillum dolore eufugiat nulla dolor in repre voluptate velit esse cillum dolore eufugiat.
                        </p>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="widget-container">
                        <div class="colttl">
                            <h3>Rob Peter</h3>
                            <p>Marketing Expert, FORBES</p>
                        </div>
                        <p>
                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eufugiat nulla pariatur
                            sint occaecat cupidatat. voluptate velit esse cillum dolore eufugiat nulla dolor in repre voluptate velit esse cillum dolore eufugiat.
                        </p>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="widget-container">
                        <div class="colttl">
                            <h3>Rob Peter</h3>
                            <p>Marketing Expert, FORBES</p>
                        </div>
                        <p>
                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eufugiat nulla pariatur
                            sint occaecat cupidatat. voluptate velit esse cillum dolore eufugiat nulla dolor in repre voluptate velit esse cillum dolore eufugiat.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
@section Footer{
    @Html.Partial("_Footer")
}
@Html.Partial("_Loading")


