﻿@model StockCharcha.Models.Web.StockModel
@using StockCharcha.Utils;
@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<link href="~/Content/web/css/loading.css" rel="stylesheet" />

<link href="~/Content/web/css/font-awesome.min.css" rel="stylesheet" />

@*<link href="~/Content/web/css/style-scroll.css" rel="stylesheet" />*@

<script src="~/Scripts/Web/StockDetail.js"></script>
<script src="~/Scripts/Shared/Common.js"></script>
<script src="~/Scripts/Shared/User.js"></script>
<script src="~/Scripts/Web/Blog.js"></script>


<body class="inrbg">
    @section RegisterAndLogin{
        <div id="LoggedInUser">
            @Html.Partial("_JoinSignIn", Model)
        </div>

        @Html.Partial("_Register", Model)
        @Html.Partial("_Login")

    }

    @section Search{
        @*@Html.Partial("_HeaderSearch")*@
        <div class="col-sm-7 paddnn mrgnn ">
            <div class="topbar-search">&nbsp;</div>
        </div>
    }

    @section Menu{
        @Html.Partial("_Menu", Model)
    }

    @section HomeBody{
        <div class="gridContainer clearfix ">
            <div id="LayoutDiv1" class="mrgntpbtm">
                <div class="">
                    <!--left colum start-->
                    <div class="col-sm-2">
                        <div class="block2">
                            <h3 class="mrgnn">@Model.RegistrationModel.UserName </h3>
                            <p>@Model.RegistrationModel.CreatedOn </p>
                            <div class="rw">
                                <div class="profphoto mrgnn">
                                    @if (!string.IsNullOrEmpty(Model.RegistrationModel.userImage))
                                    {
                                        <a href="@Url.RouteUrl("ViewProfile", new { username = Model.RegistrationModel.UserName })">
                                            <img src="@Model.RegistrationModel.userImage" alt="Image" />
                                        </a>
                                    }
                                    else
                                    {
                                        <a href="@Url.RouteUrl("ViewProfile", new { username = Model.RegistrationModel.UserName })">
                                            <img src="~/Content/web/images/blank-photo2.png" alt="" width="100" class="crvphoto">
                                        </a>

                                    }
                                </div>
                            </div>
                        </div>
                        @*<div class="rw">
                                <input type="file">
                            </div>*@
                    </div>
                    <!--left colum end-->
                    <!--right colum start-->
                    <div id="profileWatchFilter">
                        @Html.Partial("_ProfileWatchListFilter", Model)
                    </div>

                    <!--right colum end-->
                </div>
            </div>
        </div>
        @Html.Partial("_Loading")
    }

</body>
