﻿@model StockCharcha.Models.Web.StockModel

@{
    ViewBag.Title = "Settings";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    string settingURL = !string.IsNullOrEmpty(Convert.ToString(ViewData["setPage"])) ? ViewData["setPage"].ToString() : string.Empty;
}

<link href="~/Content/web/css/style-settingpage.css" rel="stylesheet" />

@Scripts.Render("~/bundles/DetailCustomJs")
<script src="~/Scripts/Web/Blog.js"></script>
<script src="~/Scripts/Web/Settings.js"></script>


<body class="inrbg">
    @section RegisterAndLogin{
        <div id="LoggedInUser">
            @Html.Partial("_JoinSignIn", Model)
        </div>

        @Html.Partial("_Register", Model)
        @Html.Partial("_Login")

    }

    @section Search{
        @Html.Partial("_HeaderSearch")
    }

    @section HeaderShareIdea{
        @Html.Partial("_HeaderShareIdeaLink")
    }

    @section Menu{
        @Html.Partial("_Menu", Model)
    }

    @section HomeBody{
        <div class="gridContainer clearfix ">
            <div id="LayoutDiv1" class="mrgntpbtm">
                <div class="content">
                    <!--left colum start-->
                    <div class="col-sm-2 padrtnn">
                        <div class="setupImgwrp">
                            <div class="setupImg">
                                @if (!string.IsNullOrEmpty(Model.RegistrationModel.userImage))
                                {
                                    <a href="@Url.RouteUrl("ViewProfile", new { username = Model.RegistrationModel.UserName })">
                                        <img src="@Model.RegistrationModel.userImage" alt="Image" />
                                    </a>
                                }
                                else
                                {
                                    <a href="@Url.RouteUrl("ViewProfile", new { username = Model.RegistrationModel.UserName })">
                                        <img src="~/Content/web/images/blank-photo2.png" alt="" width="100">
                                    </a>
                                }
                            </div>
                            <div class="userName">@string.Format("{0} {1}", Model.RegistrationModel.FirstName, Model.RegistrationModel.LastName)</div>
                        </div>
                        <div class="rw">
                            <ul class="setupList">
                                <li class="active"><a onclick="Settings.UpdateUserProfile(this)" class="cursorPtr"><i class="fa fa-refresh" aria-hidden="true"></i>Update Profile</a></li>
                                <li><a onclick="Settings.ChangePassword(this)" class="cursorPtr" id="changespassword"><i class="fa fa-unlock-alt" aria-hidden="true"></i>Change Password</a></li>
                                <li><a onclick="Settings.WatchList(this)" class="cursorPtr" id="watchlistts"><i class="fa fa-list" aria-hidden="true"></i>Watchlist</a></li>
                                @*<li><a onclick="Settings.UserMessages(this)" class="cursorPtr" id="messages"><i class="fa fa-envelope" aria-hidden="true"></i>Message</a></li>*@
                            </ul>
                        </div>
                    </div>
                    <!--left colum end-->
                    <!--right colum start-->
                    <div id="settingRightBody">
                        @Html.Partial("_UpdateProfile", Model)
                    </div>
                    <!--right colum end-->
                </div>
            </div>
        </div>
    }
    @section Footer{
        @Html.Partial("_Footer")
    }
</body>
@Html.Partial("_AlertMessage")
@Html.Partial("_Loading")
<label id="@settingURL" class="viewDataValue" style="display:none;"></label>
<script type="text/javascript">
    $(window).load(function () {
        Common.ShowSendingProgress();
        var setPage = $(".viewDataValue").attr('id');
        if (setPage != null || setPage == "") {
            if (setPage == "watchlists") {
                $("#watchlistts").trigger('click');
                Common.StopProgress();
            } else if (setPage == "changepassword") {
                $("#changespassword").trigger('click');
                Common.StopProgress();
            }
            else {
                Common.StopProgress();
            }
        }
        else {
            Common.StopProgress();
        }
    });
</script>