﻿@model StockCharcha.Models.Web.StockModel
@{
    ViewBag.Title = "Timeline";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    @Html.HiddenFor(m => m.StreamPrefrence, new { @id = "streamPrefrence" })
}

<link href="~/Content/web/css/loading.css" rel="stylesheet" />

@*<link href="~/Content/prettyPhoto/css/prettyPhoto.css" rel="stylesheet" />
<script src="~/Content/prettyPhoto/js/jquery.prettyPhoto.js"></script>

<link href="~/Content/web/css/style-scroll.css" rel="stylesheet" />*@

@Styles.Render("~/Content/DetailCss", "~/Content/DetailPrettycss")
@Scripts.Render("~/bundles/DetailJs", "~/bundles/DetailCustomJs")

@*<script src="~/Scripts/Web/StockDetail.js"></script>
<script src="~/Scripts/Shared/Common.js"></script>
<script src="~/Scripts/Shared/User.js"></script>*@

<script src="~/Scripts/Web/Timeline.js"></script>

<script type="text/javascript">
    //var BlockNumber = 2;  //Infinate Scroll starts from second block [dont remove this line value sets on their onclick]
    var NoMoreData = false;
    var inProgress = false;
    $(window).scroll(function () {
        if ($(window).scrollTop() == $(document).height() - $(window).height() && !NoMoreData && !inProgress) {
            if ($('div.tabwrp').length == 0 || $('div.tabwrp').length <= 9) {
                return false;
            }
            $("#loadingDiv").show();
            inProgress = true;
            var topIdea = $("#topIdea").hasClass('active');
            var allIdea = $("#allIdea").hasClass('active');
            var chartIdea = $("#chartIdea").hasClass('active');
            var linksIdea = $("#linksIdea").hasClass('active');
            var selectdClass = "";
            if (topIdea) {
                selectdClass = "topIdea";
            } else if (allIdea) {
                selectdClass = "allIdea";
            } else if (chartIdea) {
                selectdClass = "chartIdea";
            } else if (linksIdea) {
                selectdClass = "linksIdea";
            } else {
                selectdClass = "";
            }

            $.ajax({
                url: "/Home/InfinateTimelineScroll",
                type: "POST",
                //dataType: "json",
                data: JSON.stringify({ "BlockNumber": BlockNumber, selectedClass: selectdClass, option: $("#streamPrefrence").val() }),
                contentType: 'application/json; charset=utf-8',
                success: function (response) {
                    if (response.IsSuccess) {
                        BlockNumber = BlockNumber + 1;
                        NoMoreData = response.NoMoreData;
                        $("#shareIdeaList").append(response.html.HTMLString);
                        $("#loadingDiv").hide();
                        inProgress = false;
                    } else {
                        //Common.StopProgress();
                        $("#loadingDiv").hide();
                        inProgress = false;
                    }
                },
                complete: function () {
                    Common.StopProgress();
                }
            });

        }
    });
</script>

<body class="inrbg">
    @section RegisterAndLogin{
        <div id="LoggedInUser">
            @Html.Partial("_JoinSignIn", Model)
        </div>

        @Html.Partial("_Register", Model)
        @Html.Partial("_Login")


    }

    @section Search{
        @Html.Partial("_HeaderSearch")
    }

    @section Menu{
        @Html.Partial("_Menu", Model)
    }

    @section HeaderShareIdea{
        @Html.Partial("_HeaderShareIdeaLink")
    }

    <div class="topline">
        <div class="gridContainer clearfix">
            <div class="col-sm-9 padding-lft-nn tabwidth mrgnlftnn padlftnn">
                <strong><a href="@Url.RouteUrl("Timeline")" class="mrktvlm padlftnn">TIMELINE</a> | <a href="@Url.RouteUrl("Dashboard")">DASHBOARD</a></strong>
            </div>

            <div class="col-sm-3 padlftnn mobpdnn tabwidth float-left">
                @if (Model.IsStockMarketOpenClose)
            {<span class="pull-right">Market is open right now.</span>}
            else
            {<span class="pull-right">Market is closed right now.</span>}
            </div>
        </div>
    </div>
    @section HomeBody{
        <div class="gridContainer clearfix">
            <div id="LayoutDiv1" class="mrgntpbtm">
                <div class="col-sm-9 padding-lft-nn mobpdnn tabwidth">
                    <div class="block paddnn overflow">
                        <div class="col-sm-12 hdrTab fltlft">
                            <div class="col-sm-9">
                                <ul class="tab">
                                    <li><button id="topIdea" onclick="Timeline.GetTopIdeas()">Top</button></li>
                                    <li><button id="allIdea" onclick="Timeline.GetAllIdeas()" class="active">All</button></li>
                                    <li><button id="chartIdea" onclick="Timeline.GetChartIdeas()">Charts</button></li>
                                    <li><button id="linksIdea" onclick="Timeline.GetLinksIdeas()">Links</button></li>
                                </ul>
                            </div>
                            <div class="col-sm-3 popout">
                                @if (Model.NewIdeaCount != -1)
                                {
                                    <div id="ideaCount">
                                        @Html.Partial("_ShareIdeaCount", Model)
                                    </div>
                                    <a class="cursorPtr" onclick="StockDetail.FetchIdeas()"><img src="~/Content/web/images/icon-align.jpg" alt="image"></a>
                                }
                                @*<a href="#">Pause</a> | <a href="#"> Pop Out</a>*@
                            </div>
                        </div>
                        <div id="test123" class="menuHoverGlobal" style="display: none;"></div>
                        <div id="shareIdeaList">
                            @Html.Partial("_ShareIdeaBlogList", Model)
                        </div>
                        <div id="loadingDiv" style="text-align: center; display: none; margin-bottom: 20px;color: #FC9D0E; font-weight:bold;">
                            Loading more ideas, Please wait...
                        </div>
                    </div>
            </div>

            <div class="col-sm-3 paddnn mobpdnn tabwidth">
                <div id="watchListFilter">
                    @Html.Partial("_WatchList", Model)
                </div>
                <div id="recentlyViewed">
                    @Html.Partial("_RecentlyViewed", Model)
                </div>
                @Html.Partial("_FooterSide")
                <div class="clear"></div>
            </div>
        </div>
    </div>
    }
</body>
@Html.Partial("_Loading")
<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        $("a[rel^='prettyPhoto']").prettyPhoto({ autoplay_slideshow: false, social_tools: '' });
    });
</script>