﻿@model StockCharcha.Models.Web.StockModel
@{
    ViewBag.Title = "User Profile";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    @Html.HiddenFor(x => x.RegistrationModel.UserId, new { @id = "userId" })
}

<link href="~/Content/web/css/loading.css" rel="stylesheet" />
@Scripts.Render("~/bundles/CommonCustomJs")

@*<script src="~/Scripts/Shared/Common.js"></script>
<script src="~/Scripts/Shared/User.js"></script>*@

<script type="text/javascript">
    $(document).ready(function () {
        userImageUpload();
    });
    function userImageUpload() {
        $('#userFile').on('change', function (e) {
            Common.ShowSendingProgress();
            var files = e.target.files;
            if (files.length > 0) {
                if (window.FormData !== undefined) {
                    var data = new FormData();
                    for (var x = 0; x < files.length; x++) {
                        data.append("file" + x, files[x]);
                    }
                    $.ajax({
                        type: "POST",
                        url: '/Home/UploadUserImage?userId=' + $("#userId").val(),
                        contentType: false,
                        processData: false,
                        data: data,
                        success: function (result) {
                            if (result.IsSuccess) {
                                $("#userImagesrc").attr('src', '');
                                //var url = '/Home/ShowImage?id=' + $("#registrationId").val();
                                $("#userImagesrc").attr('src', result.userImage);
                                $('#userFile').replaceWith($("#userFile").clone(true));
                                Common.ShowSuccess(result.html, true);
                                window.location.reload();
                            } else {
                                alert(result.html);
                            }
                        },
                        complete: function () {
                            Common.StopProgress();
                        },
                        error: function (xhr, status, p3, p4) {
                            var err = "Error " + " " + status + " " + p3 + " " + p4;
                            if (xhr.responseText && xhr.responseText[0] == "{")
                                err = JSON.parse(xhr.responseText).Message;
                            console.log(err);
                        }
                    });
                } else {
                    alert("This browser doesn't support HTML5 file uploads!");
                }
            }
        });
    }
</script>

@section RegisterAndLogin{
    <div id="LoggedInUser">
        @Html.Partial("_JoinSignIn", Model)
    </div>

    @Html.Partial("_Register", Model)
    @Html.Partial("_Login")
}
@section Search{
    @Html.Partial("_HeaderSearch")
}

@section Menu{
    @Html.Partial("_Menu", Model)
}

@section HomeBody{
    <body class="inrbg">
        <div class="gridContainer clearfix ">
            <div id="LayoutDiv1" class="mrgntpbtm">
                <div class="content">
                    <div class="col-sm-3">
                        <div class="profphoto">
                            @if (!string.IsNullOrEmpty(Model.RegistrationModel.userImage))
                            {
                                <img src="@Model.RegistrationModel.userImage" alt="Image" id="userImagesrc" />
                            }
                        </div>
                        <div class="rw">
                            <input type="file" name="file" id="userFile" />
                            @Html.ValidationMessage("NoFile")
                        </div>
                    </div>
                    <div class="col-sm-9 padding-lft-nn tabwidth usrprof">
                        <div class="rw">
                            <h3>Update Profile</h3>
                        </div>
                        @using (Html.BeginForm("UpdateUserProfile", "Home", FormMethod.Post, new { id = "frmUpdateUser", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.RegistrationModel.Id, new { @id = "registrationId" })

                            <div class="form-group" id="updateUserErrorDiv" style="color: #E63131; display: none;">
                                <div class="col-md-offset-2 col-md-10">
                                    <label class="errorClass" id="updateUserErrorSpan"></label>
                                </div>
                            </div>
                            <div class="rw">
                                <label>First Name</label>
                                <div class="inputLabel">
                                    @Html.TextBoxFor(model => model.RegistrationModel.FirstName, new { @id = "FirstName", @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.RegistrationModel.FirstName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="rw">
                                <label>Last Name</label>
                                <div class="inputLabel">
                                    @Html.TextBoxFor(model => model.RegistrationModel.LastName, new { @id = "LastName", @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.RegistrationModel.LastName, "", new { @class = "text-danger" })
                                    @Html.ValidationMessage("checkUser", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="rw">
                                <label>User Name</label>
                                <div class="inputLabel">
                                    @Html.TextBoxFor(model => model.RegistrationModel.UserName, new { @class = "form-control", @disabled = "disabled" })
                                    @Html.ValidationMessageFor(model => model.RegistrationModel.UserName, "", new { @class = "text-danger" })
                                    @Html.ValidationMessage("checkUser", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="rw">
                                <label>Mobile</label>
                                <div class="inputLabel">
                                    @Html.TextBoxFor(model => model.RegistrationModel.Mobile, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.RegistrationModel.Mobile, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="rw">
                                <label>Description</label>
                                <div class="inputLabel">
                                    @Html.TextAreaFor(model => model.RegistrationModel.Description, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.RegistrationModel.Description, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="rw">
                                <label>Website</label>
                                <div class="inputLabel">
                                    @Html.TextBoxFor(model => model.RegistrationModel.Website, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.RegistrationModel.Website, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="rw">
                                <label>User Tag</label>
                                <div class="inputLabel">
                                    <div class="input-group">
                                        <span class="input-group-addon">@@</span>
                                        @Html.TextBoxFor(model => model.RegistrationModel.UserTag, new { @class = "form-control", @style = "width: 49%;" })
                                    </div>
                                    @Html.ValidationMessageFor(model => model.RegistrationModel.UserTag, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="rw">
                                <input type="button" onclick="User.UpdateUserClick()" value="Update" class="btn btn-default" />
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </body>
}

@Scripts.Render("~/bundles/jqueryval")