﻿@using StockCharcha.Utils
@using StockCharcha.Utils.Utilities
@using StockCharcha.Utils.Enums
@model StockCharcha.Models.Web.StockModel

@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    ViewBag.Title = Html.DisplayFor(m => m.RegistrationModel.FirstName);
    List<SelectListItem> trendInsightList = EnumUtil.GetStringListByEnumType<TrendInsights>().Select(x => new SelectListItem() { Text = EnumUtil.GetEnumDescription(EnumUtil.ParseEnum<TrendInsights>(x)), Value = Convert.ToString((int)EnumUtil.ParseEnum<TrendInsights>(x)) }).ToList();
    @Html.HiddenFor(Model => Model.StockUpdate, new { @id = "stockUpdateRefresh" })
    @Html.HiddenFor(m => m.StreamPrefrence, new { @id = "streamPrefrenceProfile" })
    @Html.HiddenFor(m => m.StreamPrefrence, new { @id = "streamPrefrence" })
    @Html.HiddenFor(m => m.LastFetchIdeaDate, new { @id = "lastFetchIdeaDate" })
    @Html.HiddenFor(m => m.RegistrationModel.UserName, new { @id = "hfUsername" })
    @Html.HiddenFor(m => m.RegistrationModel.UserTag, new { @id = "hfUserTag" })
}
@*<script src="~/Content/jquery-textcomplete-master/dist/jquery.textcomplete.js"></script>*@


<link href="~/Content/Star-Rating/css/star-rating.css" rel="stylesheet" />
<script src="~/Content/Star-Rating/js/star-rating.js"></script>

@Styles.Render("~/Content/DetailCss","~/Content/DetailPrettycss")
@Scripts.Render("~/bundles/DetailJs", "~/bundles/DetailCustomJs")
<script src="~/Scripts/Web/Blog.js"></script>

<script type="text/javascript">
    //var BlockNumber = 2;  //Infinate Scroll starts from second block [dont remove this line value sets on their onclick]
    var NoMoreData = false;
    var inProgress = false;
    $(window).scroll(function () {
        if ($(window).scrollTop() == $(document).height() - $(window).height() && !NoMoreData && !inProgress) {
            if ($('div.tabwrp').length == 0 || $('div.tabwrp').length <= 9) {
                return false;
            }
            $("#loadingDiv").show();
            inProgress = true;
            var topIdea = $("#topIdea").hasClass('active');
            var allIdea = $("#allIdea").hasClass('active');
            var chartIdea = $("#chartIdea").hasClass('active');
            var linksIdea = $("#linksIdea").hasClass('active');
            var selectdClass = "";
            if (topIdea) {
                selectdClass = "topIdea";
            } else if (allIdea) {
                selectdClass = "allIdea";
            } else if (chartIdea) {
                selectdClass = "chartIdea";
            } else if (linksIdea) {
                selectdClass = "linksIdea";
            } else {
                selectdClass = "";
            }

            $.ajax({
                url: "/Home/InfinateScrollProfile",
                type: "POST",
                //dataType: "json",
                data: JSON.stringify({ "BlockNumber": BlockNumber, "userName": $('.visitedUser').attr('id'), selectedClass: selectdClass }),
                contentType: 'application/json; charset=utf-8',
                success: function (response) {
                    if (response.IsSuccess) {
                        BlockNumber = BlockNumber + 1;
                        NoMoreData = response.NoMoreData;
                        $("#shareIdeaList").append(response.html.HTMLString);
                        $("#loadingDiv").hide();
                        inProgress = false;
                    } else {
                        //Common.StopProgress();
                        $("#loadingDiv").hide();
                        inProgress = false;
                    }
                },
                complete: function () {
                    Common.StopProgress();
                }
            });

        }
    });
</script>

<body class="inrbg">
    @section RegisterAndLogin{
        <div id="LoggedInUser">
            @Html.Partial("_JoinSignIn", Model)
        </div>

        @Html.Partial("_Register", Model)
        @Html.Partial("_Login")


    }

    @section Search{
        @Html.Partial("_HeaderSearch")
    }

    @section Menu{
        @Html.Partial("_Menu", Model)
    }

    @section HeaderShareIdea{
        @Html.Partial("_HeaderShareIdeaLink")
    }

    @section HomeBody{

        @* FaceBook *@
        <div id="fb-root"></div>
        <script>
            window.fbAsyncInit = function () {
                FB.init({
                    appId: '591046041049834', status: true, cookie: true,
                    xfbml: true
                });
            };
            (function () {
                var e = document.createElement('script'); e.async = true;
                e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
                document.getElementById('fb-root').appendChild(e);
            }());
        </script>

        @* Twitter *@
        <script>
            !function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                if (!d.getElementById(id)) {
                    js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js';
                    fjs.parentNode.insertBefore(js, fjs);
                }
            }(document, 'script', 'twitter-wjs');
        </script>

        <script type="text/javascript">
            $(document).ready(function () {
                //Facebook
                $('#share_button').click(function (e) {
                    e.preventDefault();
                    FB.ui({
                        method: 'feed',
                        name: 'Stock Charcha',
                        link: location.href,
                        caption: '',
                        description: $("#ckEditor").val()
                    });
                });

                //Twitter
                $('#tweetClick').click(function (e) {
                    var setText = $("#ckEditor").val();
                    var url = "https://twitter.com/intent/tweet?text=" + encodeURIComponent(setText);
                    $(this).attr('href', url)
                });
            });
        </script>


        <div class="gridContainer clearfix">
            <div id="LayoutDiv1" class="mrgntpbtm">

                <div class="col-sm-9 padding-lft-nn mobpdnn viewprof ">
                    <div class="block paddnn overflow">
                        <div class="idea">
                            <a href="javascript:void(0)" onclick="Blog.CreateBlog()" style="text-decoration: none;">SHARE AN IDEA</a>
                        </div>
                        <div id="createBlock" style="display: none;">
                            <div class="shinebg">
                                @*<textarea id="ckEditor" rows="8" cols="113"></textarea>*@
                                <textarea id="ckEditor" rows="3" data-limit-input="@Model.ShareIdeaTextLimit"></textarea>
                                <span>0 of @Model.ShareIdeaTextLimit characters used</span>
                                <div class=" col-sm-8 paddnn" style="float: right;">
                                    <div class="upImage">
                                        <div id="editorImage"></div>
                                        <a class="cursorPtr imageDelete" onclick="Blog.RemoveAttachment()"><i class="fa fa-remove" title="Remove image"></i></a>
                                    </div>
                                    <div class="pin">
                                        <i class="fa fa-paperclip fong25 rotate">
                                        </i><input type="file" name="UploadFile" id="txtUploadFile" />&nbsp;&nbsp;Attach
                                    </div>
                                    @*@Html.DropDownList("drpTrend", trendInsightList, "Select", new { @class = "form-control" })*@
                                    <div id="drpTrend" class="btn-group">
                                        @foreach (var item in trendInsightList)
                                        {<button type="button" class="btn btn-primary btnTrendInSight" onclick="Common.ShareIdeaToggleReset(this)" value="@item.Value">@item.Text</button>}
                                    </div>
                                </div>
                            </div>

                            <div class="whoseethisWrp">
                                <div class="col firstdiv">
                                    <strong>WHO CAN SEE THIS?</strong>
                                </div>
                                <div class="col">
                                    <div class="whoseethis">
                                        <input id="chkEveryone" class="checkbox-custom" name="chkEveryone" type="checkbox" checked="checked">
                                        <label for="chkEveryone" class="checkbox-custom-label"></label>Everyone
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="whoseethis">
                                        <input id="chkFollower" class="checkbox-custom" name="chkFollower" type="checkbox">
                                        <label for="chkFollower" class="checkbox-custom-label"></label>Only Followers
                                    </div>
                                </div>
                                <div class="sharon">
                                    <strong class="fltlft">SHARE ON</strong>
                                    <div class="social">
                                        <a class="cursorPtr" id="share_button"><i class="fa fa-facebook"></i></a>
                                        <a id="tweetClick" class="cursorPtr" data-url="StockCharcha"><i class="fa fa-twitter"></i></a>
                                        <script src="https://apis.google.com/js/plusone.js"></script>
                                        <a href="javascript:(function(){var w=480;var h=380;var x=Number((window.screen.width-w)/2);var y=Number((window.screen.height-h)/2);
		                                            window.open('https://plusone.google.com/_/+1/confirm?hl=en&url='+encodeURIComponent(location.href)+'
			                                        &title='+encodeURIComponent(document.title),'','width='+w+',height='+h+',left='+x+',top='+y+',
			                                        scrollbars=no');})();">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                        @*<i class="fa fa-linkedin"></i>*@
                                    </div>
                                </div>
                            </div>

                            <div class="postreply rw">
                                <div class="col-sm-7">
                                    <div class="whoseethis">
                                        <input id="chkEmailMe" class="checkbox-custom" name="chkEmailMe" type="checkbox" checked="checked">
                                        <label for="chkEmailMe" class="checkbox-custom-label"></label><span class="postreplylineht">Email me when someone posts a reply</span>
                                    </div>
                                </div>

                                <div class="col-sm-4 padlftnn fltrt">
                                    <input type="button" class="btn btngray fltrt" name="Cancel" value="Cancel" onclick="Blog.CommentsCancel()">
                                    <input type="button" class="btn btnorange fltrt" name="Share" value="Share" onclick="Blog.ShareIdea()">
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="block paddnn overflow">
                        <div class="col-sm-12 hdrTab">
                            <div class="col-sm-9">
                                <ul class="tab">
                                    <li><button id="topIdea" onclick="Blog.GetTopIdeas('@Model.RegistrationModel.UserName')">Top</button></li>
                                    <li><button id="allIdea" onclick="Blog.GetAllIdeas('@Model.RegistrationModel.UserName')" class="active">All</button></li>
                                    <li><button id="chartIdea" onclick="Blog.GetChartIdeas('@Model.RegistrationModel.UserName')">Charts</button></li>
                                    <li><button id="linksIdea" onclick="Blog.GetLinksIdeas('@Model.RegistrationModel.UserName')">Links</button></li>
                                </ul>
                            </div>
                            <div class="col-sm-3 popout">
                                <a class="cursorPtr" onclick="Blog.FetchIdeas()">
                                    <i class="fa fa-bell" style="font-size: 18px; margin-top:8px;"></i>
                                    <div id="ideaCount">
                                        @Html.Partial("_ShareIdeaCount", Model)
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div id="test123" class="menuHoverGlobal" style="display: none;"></div>
                        <div id="shareIdeaList">
                            @Html.Partial("_ShareIdeaBlogList", Model)
                            <div class="clear"></div>
                        </div>
                        <div id="loadingDiv" style="text-align: center; display: none; margin-bottom: 20px;color: #FC9D0E; font-weight:bold;">
                            @*<img alt="Loading" src="@Url.Content("~/Content/web/images/loading2.gif")" />*@
                            Loading more ideas, Please wait...
                        </div>
                    </div>
                </div>



                <div class="col-sm-3 padlftnn viewprof ">
                    @{Guid currentUserId = WebUtil.GetSessionValue<Guid>(CommonConstants.UserIdWeb);
                    bool IsLoginUser = Model.RegistrationModel.UserId == currentUserId ? true : false; }
                    <div class="block">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td align="center">
                                    @if (!string.IsNullOrEmpty(Model.RegistrationModel.userImage))
                                    {
                                        <img src="@Model.RegistrationModel.userImage" class="crvphoto" alt="Image" />
                                    }
                                    else
                                    {
                                        <img src="~/Content/web/images/blank-photo2.png" alt="" width="100" class="crvphoto">
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td align="center">
                                    <h5>
                                        <div class="visitedUser" id="@Model.RegistrationModel.UserName">
                                            @if (!string.IsNullOrEmpty(Model.RegistrationModel.UserTag))
                                            {
                                                @Html.DisplayName(string.Format("{0} {1} - [@{0}]", Model.RegistrationModel.FirstName, Model.RegistrationModel.LastName, Model.RegistrationModel.UserTag))
                                            }
                                            else
                                            {
                                                @Html.DisplayName(string.Format("{0} {1}", Model.RegistrationModel.FirstName, Model.RegistrationModel.LastName))
                                            }
                                        </div>
                                    </h5>
                                </td>
                            </tr>
                            <tr><td>&nbsp;</td></tr>
                            <tr>
                                <td class="textformat">
                                    <p>@Model.RegistrationModel.Description</p>
                                </td>
                            </tr>
                            <tr>
                                <td class="tblseprate">
                                    <table width="100%" border="0" cellspacing="3" cellpadding="0" class="profileBlockIcon">
                                        <tr>
                                            <td align="center" valign="middle" bgcolor="#F3F4F8">
                                                <a href="@Url.RouteUrl("ViewProfile", new { username = Model.RegistrationModel.UserName })">
                                                    <i class="fa fa-file-text"></i><br>@ViewBag.ShareIdeaListCount
                                                </a>
                                            </td>
                                            <td align="center" valign="middle" bgcolor="#F3F4F8">
                                                @if (IsLoginUser)
                                                {
                                                    <a href="@Url.RouteUrl("Followers", new { username = Model.RegistrationModel.UserName })" title="Followers">
                                                        <i class="fa fa-users"></i><br>@Model.Followers.UserFollowers
                                                    </a>
                                                }
                                                else
                                                {
                                                    <a title="Followers">
                                                        <i class="fa fa-users"></i><br>@Model.Followers.UserFollowers
                                                    </a>
                                                }


                                            </td>
                                            <td align="center" valign="middle" bgcolor="#F3F4F8">
                                                @if (IsLoginUser)
                                                {
                                                    <a href="@Url.RouteUrl("Followed", new { username = Model.RegistrationModel.UserName })" title="Following">
                                                        <i class="fa fa-user"></i><br>@Model.Followed.UserFollowed
                                                    </a>
                                                }
                                                else
                                                {
                                                    <a title="Followed">
                                                        <i class="fa fa-user"></i><br>@Model.Followed.UserFollowed
                                                    </a>
                                                }

                                            </td>
                                            <td align="center" valign="middle" bgcolor="#F3F4F8">
                                                @if (WebUtil.GetSessionValue<string>(CommonConstants.UserNameWeb) != Model.RegistrationModel.UserName)
                                                {
                                                    <div class="btn-group" role="group">
                                                        <a href="javascript:void(0)" title="Rating" data-toggle="dropdown" id="drpRate">
                                                            <img src="~/Content/web/images/icon-star.png" alt="star"><br>
                                                            @{ string rate = Model.UserRatingModel.Rate != null ? String.Format("{0:0.0}", Model.UserRatingModel.Rate) : "0"; }
                                                            <div id="setRate">@rate</div>
                                                        </a>
                                                        <ul class="dropdown-menu pull-right" style="width: 228px;">
                                                            <li><input id="rating-input" value="@rate" type="number" class="rating" min=0 max=5 step=0.5 data-size="xs"></li>
                                                        </ul>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <a href="javascript:void(0)" title="Rating">
                                                        <img src="~/Content/web/images/icon-star.png" alt="star"><br>
                                                        @{ string rate = Model.UserRatingModel.Rate != null ? String.Format("{0:0.0}", Model.UserRatingModel.Rate) : "0"; }
                                                        @rate
                                                    </a>
                                                }
                                            </td>
                                            @*<td align="center" valign="middle" bgcolor="#F3F4F8">
                                                    @if (WebUtil.GetSessionValue<string>(CommonConstants.UserNameWeb) != Model.RegistrationModel.UserName)
                                                    {
                                                        <div id='ReportUserModal' class='modal hide fade in' data-url='@Url.Action("GetReportUserDialog", "Home")'>
                                                            <div id='ReportUserContainer'></div>
                                                        </div>
                                                        <a onclick="User.ReportUserClick('@Model.RegistrationModel.UserId')" id='@Model.RegistrationModel.UserId' class="cursorPtr" title="Report User">
                                                            <i class="fa fa-user-times"></i><br>
                                                        </a>
                                                    }
                                                    else
                                                    {
                                                        <a title="Report User"><i class="fa fa-user-times"></i></a>
                                                    }

                                                </td>*@
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td class="textformat">
                                    <p>Member since - @Model.RegistrationModel.CreatedOn</p>
                                </td>
                            </tr>

                            @if (WebUtil.GetSessionValue<string>(CommonConstants.UserNameWeb) != Model.RegistrationModel.UserName)
                            {
                                <tr>
                                    <td class="blockftrlink">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                @{
                                string followText = "Follow";
                                string followclass = string.Empty;
                                if (Model.IsFollow == false)
                                {
                                    followclass = "userfollowing";
                                    followText = "Following";
                                }
                                                }
                                                <td align="center" valign="middle" width="50%" class="bodrrt @followclass" height="35">
                                                    <a href="javascript:void(0)" onclick="Blog.UserFollow(this)" class="userFollow" id="@Model.RegistrationModel.UserName">
                                                        <i class="fa fa-user-plus"></i>@followText
                                                    </a>
                                                </td>
                                                <td align="center" valign="middle" width="50%">
                                                    <a href="javascript:void(0)" onclick="User.BtnProfileMessage()" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#MessageModal">
                                                        <i class="fa fa-envelope"></i>Message
                                                    </a>
                                                    @Html.Partial("_ProfileMessage", Model)
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr><td style="height:10px;"></td></tr>
                                <tr>
                                    <td align="center" class="blockftrlink" valign="middle">

                                        <div id='ReportUserModal' class='modal hide fade in' data-url='@Url.Action("GetReportUserDialog", "Home")'>
                                            <div id='ReportUserContainer'></div>
                                        </div>
                                        <a onclick="User.ReportUserClick('@Model.RegistrationModel.UserId')" id='@Model.RegistrationModel.UserId' class="cursorPtr" title="Report User">
                                            <i class="fa fa-user-times"></i>&nbsp; Report User
                                        </a>
                                    </td>
                                </tr>
                            }
                            <tr><td></td></tr>
                            <tr><td></td></tr>
                        </table>
                    </div>

                    <div id="watchListFilter">
                        @Html.Partial("_WatchList", Model)
                    </div>
                    @*<div id="profileWatchListFilter">
                            <div class="block">
                                <div class="watchlist">
                                    <a href="@Url.Action("ProfileWatchList", "Home")"><h5><strong>MY WATCHLIST</strong></h5></a>
                                </div>
                            </div>
                        </div>*@
                    <div id="recentlyViewed">
                        @Html.Partial("_RecentlyViewed", Model)
                    </div>
                    @Html.Partial("_FooterSide")
                </div>
            </div>
        </div>
        @Html.Partial("_Loading")
    }
</body>
