﻿@using StockCharcha.Utils
@model StockCharcha.Models.LoginModel
@{
    Layout = "~/Views/Shared/_Login.cshtml";
    ViewBag.Title = "Login";
}


<div class="login-box">
    <div class="login-logo">
        <a href="javascript:void(0)"><b>Stock</b>Charcha</a>
    </div><!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">Sign in to start your session</p>
        <div id="loginForm">
            @using (Html.BeginForm("Login", "Admin", FormMethod.Post, new { role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="notifications-align">
                    @if ((string)ViewData[CommonConstants.LoginStatus] == CommonConstants.LoginFailedStatus)
                    {
                        <div class="alert alert-danger show top-notification">
                            <button class="close" data-dismiss="alert">x</button>
                            @ViewData[CommonConstants.MessageStatus]
                        </div>
                    }
                    else if ((string)ViewData[CommonConstants.LoginStatus] == CommonConstants.InvalidLoginStatus)
                    {
                        <div class="alert alert-danger show top-notification">
                            <button class="close" data-dismiss="alert">x</button>
                            @ViewData[CommonConstants.MessageStatus]
                        </div>
                    }
                </div>

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group has-feedback">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    @*<input type="email" class="form-control" placeholder="Email">*@
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    @*<input type="password" class="form-control">*@
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        @*<div class="checkbox icheck">
                                <label>
                                    <input type="checkbox"> Remember Me
                                </label>
                            </div>*@
                    </div><!-- /.col -->
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                    </div><!-- /.col -->
                </div>
            }
        </div>
        <a href="javascript:void(0)">I forgot my password</a><br>
    </div><!-- /.login-box-body -->
</div><!-- /.login-box -->
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}