﻿@model StockCharcha.Helpers.PagedData<StockCharcha.Models.SiteErrorModel>
@using StockCharcha.Utils

<script src="~/Content/admin/bootstrap/js/jquery.bootpag.js"></script>
<script src="~/Content/admin/scripts/Shared/Common.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        Common.Paging(@Model.NumberOfPages, @Model.CurrentPage, "SiteErrors");
    });
</script>

<div class="box-body table-responsive no-padding">
    @if (Model.Data.Count() == 0 || Model == null)
    {
        int cnt = Model.Data.Count() + 1;
        <table class="table table-striped">
            <tr>
                <td colspan="@cnt">No Records Found.</td>
            </tr>
        </table>
    }
    else
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Error Code</th>
                    <th>Exception Message</th>
                    <th>Web URL</th>
                    <th>Modified Name</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody id="itemContainer">
                @foreach (var item in Model.Data.OrderByDescending(x => x.ModifiedON))
                {
                    <tr>
                        <td>@item.ErrorCode</td>
                        <td>@item.ExceptionMessage</td>
                        <td>@item.WebURL</td>
                        <td>@item.ModifiedName</td>
                        <td>@item.ModifiedONDate</td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3">
                        <p class="paging"></p>
                    </td>
                </tr>
            </tfoot>
        </table>
    }

</div><!-- /.box-body -->
