﻿@model StockCharcha.Models.HelpModel

@{
    long questionId = @ViewBag.questionId;
}

<script type="text/javascript">
    function HideMessageError() {
        $('#messageErrorSpan').text("");
        $('#messageErrorDiv').hide();
    }

    function ShowMessageError(errorMessage) {
        $('#messageErrorSpan').text(errorMessage);
        $('#messageErrorDiv').show();
    }

    function SaveAnswer(el, questionId) {
        HideMessageError();
        var answer = $("#answer").val();
        if (answer == null || answer === '') {
            ShowMessageError("Please Enter Answer.");
        }
        else{
        $.get('/Help/SaveAnswer', { questionId: questionId, answer: $("#answer").val() },
                function (data) {
                    $("#answerList").html('');
                    $("#answerList").html(data);
                });
        }
    }
</script>

<!--right colum start-->
<div class="box-body table-responsive no-padding">
    <div class="usermsgwrp">
        @foreach (var item in Model.HelpAnswerModel)
        {
            if (item.FromUser == item.LoggedInUserId)
            {
                <div class="chatrw2">
                    <div class="curentdtlft">
                        @item.CreatedOn
                    </div>
                    <div class="curentMsage">
                        @item.Description
                    </div>
                    <div class="curentimg">
                        @if (!string.IsNullOrEmpty(item.UserImage))
                        {
                                <img src="@item.UserImage" alt="Image" />
                        }
                        else
                        {
                            <img src="~/Content/web/images/blank-photo2.png" alt="photo" width="32" height="32">
                        }
                    </div>
                </div>
            }
            else
            {
                <div class="chatrw">
                    <div class="chatimg">
                        @if (!string.IsNullOrEmpty(item.UserImage))
                        {
                                <img src="@item.UserImage" alt="Image" />
                        }
                        else
                        {
                            <img src="~/Content/web/images/blank-photo2.png" alt="photo" width="32" height="32">
                        }
                    </div>
                    <div class="message">
                        @item.Description
                    </div>
                    <div class="curentdtlrt">
                        @item.CreatedOn
                    </div>
                </div>
            }
        }
        <div class="msgRpl">
            <div class="col-sm-12 paddnn">
                <div class="form-group" id="messageErrorDiv" style="color: #E63131; display: none;">
                    <label class="errorClass" id="messageErrorSpan"></label>
                </div>
                <div class="commTxt paddnn" style="width: 94%;float: left;margin-right: 15px;">
                    <textarea type="text" rows="1" class="form-control" id="answer" placeholder="Give Answer"></textarea>
                </div>
                <div class="commTxtBtn paddnn">
                    <button type="button" onclick="SaveAnswer(this,'@questionId')" class="btn msgRpl_btn"><i class="fa fa-send"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--right colum end-->
