﻿@model StockCharcha.Models.HelpModel

@{
    ViewBag.Title = "View";
    long questionId = @ViewBag.questionId;
}

<link href="~/Content/admin/css/adminLoading.css" rel="stylesheet" />
<script src="@Url.Content("~/Content/admin/scripts/jquery-1.8.2.min.js")"></script>
@*<script src="~/Scripts/bootstrap.min.js"></script>*@
<link href="~/Content/web/css/style-settingpage.css" rel="stylesheet" />
<script type="text/javascript">
    $(window).load(function () {
        // Animate loader off screen
        $(".adminLoading").fadeOut("slow");
    });
    $(document).ready(function () { });
</script>

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>Help</h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "Help")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Index</li>
    </ol>
</section>


<!-- Main content -->
<div class="adminLoading"></div>
<section class="content">
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">Question is : @Model.UserQuestion</a></h3>
            <div class="box-tools" style="top: 10px;">
                <div class="input-group" style="width: 250px;display:none;">
                    <input type="text" name="table_search" id="searchText" class="form-control input-sm pull-right" placeholder="Search">
                    <div class="input-group-btn">
                        <button class="btn btn-sm btn-default" id="btnSearch"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>
        </div><!-- /.box-header -->
        <div id="answerList">
            @Html.Partial("_HelpAnswerListByQuestionAdmin", Model)
        </div>
    </div><!-- /.box -->
</section><!-- /.content -->
