﻿@model StockCharcha.DataAccess.Blog

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Blog</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Symbol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Symbol)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Everyone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Everyone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OnlyFollowers)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OnlyFollowers)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailOnReply)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailOnReply)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OriginalFileName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OriginalFileName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NewFileName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NewFileName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrendInSights)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrendInSights)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsPublished)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsPublished)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReShareId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReShareId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.aspnet_Users.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.aspnet_Users.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.aspnet_Users1.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.aspnet_Users1.UserName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
