﻿@model StockCharcha.Helpers.PagedData<StockCharcha.Models.RegistrationModel>

@using StockCharcha.Utils

@{
    ViewBag.Title = "Index";
}
<link href="~/Content/admin/css/adminLoading.css" rel="stylesheet" />
<script src="@Url.Content("~/Content/admin/scripts/jquery-1.8.2.min.js")"></script>
@*<script src="~/Scripts/bootstrap.min.js"></script>*@

<script type="text/javascript">
    $(window).load(function () {
        // Animate loader off screen
        $(".adminLoading").fadeOut("slow");
    });
    $(document).ready(function () {
        $("#btnSearch").click(function (evt) {
            $(".adminLoading").fadeIn("slow")
            $.ajax({
                url: '@Url.Action("GetListByPage")',
                data: JSON.stringify({ "searchText": $("#searchText").val(), "page": 1 }),
                type: 'POST',
                contentType: 'application/json',
                success: function (data) {
                    $("#searchList").html(data);
                },
                complete: function () {
                    $(".adminLoading").fadeOut("slow");
                }
            });
        });
    });
</script>



<div class="notifications-align">
    @if ((string)TempData[CommonConstants.ModelStatus] == CommonConstants.ModelInsertStatus)
    {
    <div class="alert alert-success show top-notification">
        <button class="close" data-dismiss="alert">x</button>
        @TempData[CommonConstants.MessageStatus]
    </div>
    }
    @if ((string)TempData[CommonConstants.ModelStatus] == CommonConstants.ModelUpdateStatus)
    {
    <div class="alert alert-success show top-notification">
        <button class="close" data-dismiss="alert">x</button>
        @TempData[CommonConstants.MessageStatus]
    </div>
    }
    @if ((string)TempData[CommonConstants.ModelStatus] == CommonConstants.ModelInvalidStatus)
    {
    <div class="alert alert-danger show top-notification" style="padding: 8px;">
        <button class="close" data-dismiss="alert">x</button>
        @TempData[CommonConstants.MessageStatus]
    </div>
    }
</div>

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>Registration</h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index","RegistrationMaster")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Index</li>
    </ol>
</section>

<!-- Main content -->
<div class="adminLoading"></div>
<section class="content">
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title"><a href="@Url.Action("Create","RegistrationMaster")" class="btn btn-block btn-primary">Add New</a></h3>
            <div class="box-tools" style="top: 10px;">
                <div class="input-group" style="width: 250px;">
                    <input type="text" name="table_search" id="searchText" class="form-control input-sm pull-right" placeholder="Search">
                    <div class="input-group-btn">
                        <button class="btn btn-sm btn-default" id="btnSearch"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>
        </div><!-- /.box-header -->
        <div id="searchList">
            @Html.Partial("_RegistrationList")
        </div>
    </div><!-- /.box -->
</section><!-- /.content -->
