
/*
        .holder
        {
            margin: 15px 0;
        }
        .holder a
        {
            font-size: 15px;
            cursor: pointer;
            margin: 0 5px;
            color: #333;
        }
        .holder a:hover
        {
            background-color: #222;
            color: #fff;
        }
        .holder a.jp-previous
        {
            margin-right: 15px;
        }
        .holder a.jp-next
        {
            margin-left: 15px;
        }
        .holder a.jp-current, a.jp-current:hover
        {
            color: #FF4242;
            font-weight: bold;
        }
        .holder a.jp-disabled, a.jp-disabled:hover
        {
            color: #bbb;
        }
        .holder a.jp-current, a.jp-current:hover, .holder a.jp-disabled, a.jp-disabled:hover
        {
            cursor: default;
            background: none;
        }
        .holder span
        {
            margin: 0 5px;
        }

*/
.holder {
    margin: 5px 0;
}

    .holder a {
        font-size: 16px;
        cursor: pointer;
        margin: 0 5px;
        color: #333;
        display: inline-block;
        padding: 4px 12px;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 15px;
    }

        .holder a:hover {
            background-color: #428bca;
            color: #fff;
        }

        .holder a.jp-previous {
            margin-right: 10px;
        }

        .holder a.jp-next {
            margin-left: 10px;
        }

        .holder a.jp-current, a.jp-current:hover {
            color: #428BCA;
            font-weight: bold;
            border: 1px solid #ddd;
            text-decoration: none;
            background-color: #eee;
        }

        .holder a.jp-disabled, a.jp-disabled:hover {
            color: #999;
        }

        .holder a.jp-current, a.jp-current:hover,
        .holder a.jp-disabled, a.jp-disabled:hover {
            cursor: default;
            background: #fff;
            border-color: #ddd;
        }

    .holder span {
        margin: 0 5px;
    }
