﻿@using StockCharcha.Utils
@using StockCharcha.Utils.Utilities
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SC | @ViewBag.Title</title>
    @Styles.Render("~/Content/CommonBootstrapCss")
    @Styles.Render("~/Content/CommonCss")
    @Scripts.Render("~/bundles/CommonJs")
    <link href="~/Content/web/css/font-awesome.min.css" rel="stylesheet" />
    @*<script src="~/Content/web/bootstrap/js/bootstrap-select.js"></script>
    <link href="~/Content/web/bootstrap/css/bootstrap-select.css" rel="stylesheet" />
    <link href="~/Content/Menu/demo.css" rel="stylesheet" />
    <script src="~/Content/Menu/modernizr.custom.js"></script>*@

    <!--Notification-->
    <link href="~/Content/noty/animate.css" rel="stylesheet" />
    <script src="~/Content/noty/packaged/jquery.noty.packaged.js"></script>
    <script src="~/Content/noty/notification_html.js"></script>
    <!--Notification-->
</head>

<body>
    <div class="headerStrip">
        <div class="gridContainer clearfix">
            <div class="notifications" style="z-index: 999;position: fixed;top: 1px;left: 0px;width: 100%;"></div>
            <div id="LayoutDiv1">
                <div class="col-sm-3 padlftnn">
                    @if (WebUtil.GetSessionValue<Guid>(CommonConstants.UserIdWeb) != Guid.Empty)
                    {
                        <a href="@Url.RouteUrl("Dashboard")" class="headerLogo"><img src="~/Content/web/images/logo.png" alt="Stock Charcha" width="260" /></a>
                    }
                    else
                    {
                        <a href="@Url.Action("Index", "Home")" class="headerLogo"><img src="~/Content/web/images/logo.png" alt="Stock Charcha" width="260" /></a>
                    }

                </div>
                <div class="col-sm-1 tabDispNon"> </div>
                <div class="col-sm-8 tab-col-9">
                    @RenderSection("RegisterAndLogin")
                    @RenderSection("HeaderShareIdea", false)
                    @RenderSection("Search")
                </div>
            </div>
        </div>
        @RenderSection("Menu")
    </div>

    @RenderBody()
    @RenderSection("HomeBody")
    @RenderSection("Footer", false)

    @Html.Partial("_AlertMessage")
</body>
</html>
<script src="~/Scripts/Web/Autocomplete/jquery-ui.js"></script>
@*<script src="~/Content/Menu/flexmenu.min.js"></script>*@
<script src="~/Content/Menu/flexmenu.js"></script>
<script>
    $('ul.menu.flex').flexMenu();
    $('ul.menu.flex-multi').flexMenu({
        showOnHover: false
    })
</script>